/*BREAKPOINTS*/
/* BASE FONT SIZE */
@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway-regular-webfont.eot");
  src: url("/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("/fonts/raleway-medium-webfont.eot");
  src: url("/fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-medium-webfont.woff2") format("woff2"), url("/fonts/raleway-medium-webfont.woff") format("woff"), url("/fonts/raleway-medium-webfont.ttf") format("truetype"), url("/fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("/fonts/raleway-bold-webfont.eot");
  src: url("/fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/fonts/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway-bold-webfont.ttf") format("truetype"), url("/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayblack';
  src: url("/fonts/raleway-black-webfont.eot");
  src: url("/fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-black-webfont.woff2") format("woff2"), url("/fonts/raleway-black-webfont.woff") format("woff"), url("/fonts/raleway-black-webfont.ttf") format("truetype"), url("/fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenlight';
  src: url("/fonts/hanken-light-webfont.eot");
  src: url("/fonts/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-light-webfont.woff2") format("woff2"), url("/fonts/hanken-light-webfont.woff") format("woff"), url("/fonts/hanken-light-webfont.ttf") format("truetype"), url("/fonts/hanken-light-webfont.svg#hankenlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenbook';
  src: url("/fonts/hanken-book-webfont.eot");
  src: url("/fonts/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-book-webfont.woff2") format("woff2"), url("/fonts/hanken-book-webfont.woff") format("woff"), url("/fonts/hanken-book-webfont.ttf") format("truetype"), url("/fonts/hanken-book-webfont.svg#hankenbook") format("svg");
  font-weight: normal;
  font-style: normal; }

.blog {
  max-width: 1100px; }
  .blog__main {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between; }
    .blog__main-item {
      position: relative;
      width: 100%;
      height: 200px;
      margin: 0 0 20px 0;
      background-size: cover;
      background-position: center; }
      .blog__main-item:hover .blog__main-item-block {
        bottom: 30%; }
      .blog__main-item:hover .cta-button-3 {
        opacity: 1; }
      .blog__main-item .cta-button-3 {
        transition: all 0.5s;
        opacity: 0; }
        .blog__main-item .cta-button-3 span {
          vertical-align: middle;
          padding-left: 5px; }
      .blog__main-item-block {
        transition: all 0.5s;
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: calc(100% - 20px); }
      .blog__main-item-title {
        color: #FFFFFF;
        font-size: 1.33333rem;
        font-weight: 700;
        margin: 10px 0 5px 0; }
      .blog__main-item-date {
        color: #FFFFFF;
        font-size: 1rem; }
  .blog__secondary {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    margin-top: 40px; }
    .blog__secondary-item {
      position: relative;
      width: 100%;
      height: auto;
      margin: 0 0 20px 0; }
      .blog__secondary-item-img {
        width: 100%;
        height: auto; }
      .blog__secondary-item-date {
        text-transform: uppercase;
        margin: 10px 0 5px;
        color: #2A2A33;
        font-size: 1rem; }
      .blog__secondary-item-title {
        color: #2A2A33;
        font-size: 1.08333rem;
        font-weight: 700;
        text-align: left; }
  .blog__list {
    background-color: rgba(179, 179, 179, 0.12);
    max-height: 231px; }
    .blog__list-item {
      padding: 10px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #2A2A33;
      border-bottom: 1px solid #FFFFFF;
      font-size: 1rem;
      text-transform: uppercase; }
      .blog__list-item span:first-child {
        max-width: 70%; }
  .blog__post-date {
    color: #2A2A33;
    text-transform: uppercase;
    font-size: 1.08333rem; }
  .blog__post-title {
    color: #2A2A33;
    text-transform: uppercase;
    font-size: 1.33333rem;
    font-weight: 700;
    margin: 5px 0 10px 0; }
  .blog__post-img {
    position: relative;
    width: 100%;
    height: 200px;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px; }
    .blog__post-img .share {
      position: absolute;
      bottom: 20px;
      right: 20px;
      color: #FFFFFF;
      font-size: 2.08333rem; }
      .blog__post-img .share:hover .jssocials-shares {
        visibility: visible;
        opacity: 1; }
  .blog__post-content {
    color: #808080;
    padding: 40px 0 20px; }
    .blog__post-content p {
      margin: 0 0 10px 0;
      font-size: 1.08333rem;
      line-height: 1.5rem; }
    .blog__post-content .share {
      color: #2A2A33;
      margin-top: 20px; }
      .blog__post-content .share:after {
        margin-left: 5px;
        display: inline-block;
        content: "COMPARTIR";
        font-family: "ralewayregular", sans-serif; }
      .blog__post-content .share:before, .blog__post-content .share:after {
        font-size: 1.66667rem; }
  .blog__post-comment {
    padding: 20px;
    max-width: 600px; }
    .blog__post-comment textarea {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 110px;
      min-height: 110px;
      max-height: 110px; }
  .blog__comments {
    width: 100%;
    padding: 20px;
    max-width: 500px; }
  .blog__comment {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #634aff;
    font-size: 1.25rem; }
    .blog__comment:before {
      display: block;
      width: 90%;
      margin: 20px auto;
      content: '';
      border-top: 1px solid #B3B3B3; }
    .blog__comment:first-child:before {
      display: none; }
    .blog__comment-name {
      font-size: 1.33333rem;
      font-weight: 700;
      padding-right: 10px; }
    .blog__comment-text {
      width: 100%;
      color: #B3B3B3;
      font-size: 1rem;
      padding-top: 10px; }
  .blog .jssocials-shares {
    position: absolute;
    bottom: -16px;
    right: 30px;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
    width: 105px;
    text-align: right; }
    .blog .jssocials-shares .jssocials-share {
      font-size: 1.25rem; }
      .blog .jssocials-shares .jssocials-share-link {
        border: none; }
        .blog .jssocials-shares .jssocials-share-link span {
          display: none; }

@media (min-width: 480px) {
  .blog__main-item {
    width: 48%; }
    .blog__main-item:first-child {
      width: 100%; }
  .blog__secondary-item {
    width: 48%; }
  .blog__comment:before {
    width: 100%; }
  .blog__comment-text {
    max-width: 80%;
    margin-top: 10px; } }

@media (min-width: 768px) {
  .blog__main {
    display: block; }
    .blog__main-item {
      float: left;
      width: 32%; }
      .blog__main-item:first-child {
        width: 66%;
        height: 420px;
        margin-right: 2%; }
  .blog__secondary-item {
    width: 32%; }
  .blog__list {
    max-height: 371px;
    width: 20%; }
    .blog__list-item {
      padding: 20px; }
  .blog__post-title {
    margin-bottom: 15px; }
  .blog__post-img {
    height: 300px; }
    .blog__post-img .share .jssocials-shares {
      width: 300px; } }

@media (min-width: 992px) {
  .blog__main-block {
    bottom: 20px;
    left: 40px; } }
