/*BREAKPOINTS*/
/* BASE FONT SIZE */
.contact {
  position: relative; }
  .contact__color-bg {
    background-color: rgba(42, 42, 51, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .contact__form {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 350px; }
    .contact__form input {
      width: 60%;
      height: 28px;
      line-height: 28px;
      background-color: rgba(255, 255, 255, 0.2);
      border: none;
      margin: 0 0 10px 0;
      padding: 0 10px;
      color: #FFFFFF; }
    .contact__form input::placeholder,
    .contact__form textarea::placeholder {
      color: #FFFFFF; }
    .contact__form textarea {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      height: 90px;
      min-height: 90px;
      max-height: 90px;
      padding: 10px;
      margin: 0 0 10px 0;
      border: 1px solid #B3B3B3;
      background-color: transparent;
      color: #FFFFFF; }
    .contact__form div {
      width: 100%;
      text-align: right; }
    .contact__form-submit {
      opacity: 0.8;
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0.2);
      border: none;
      color: #FFFFFF;
      padding: 8px 12px;
      font-size: 0.91667rem;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px;
      letter-spacing: 0.5px;
      font-weight: 100; }

@media (min-width: 992px) {
  .contact__form-container {
    padding: 90px 100px; } }
