@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway-regular-webfont.eot");
  src: url("/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("/fonts/raleway-medium-webfont.eot");
  src: url("/fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-medium-webfont.woff2") format("woff2"), url("/fonts/raleway-medium-webfont.woff") format("woff"), url("/fonts/raleway-medium-webfont.ttf") format("truetype"), url("/fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("/fonts/raleway-bold-webfont.eot");
  src: url("/fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/fonts/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway-bold-webfont.ttf") format("truetype"), url("/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayblack';
  src: url("/fonts/raleway-black-webfont.eot");
  src: url("/fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-black-webfont.woff2") format("woff2"), url("/fonts/raleway-black-webfont.woff") format("woff"), url("/fonts/raleway-black-webfont.ttf") format("truetype"), url("/fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenlight';
  src: url("/fonts/hanken-light-webfont.eot");
  src: url("/fonts/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-light-webfont.woff2") format("woff2"), url("/fonts/hanken-light-webfont.woff") format("woff"), url("/fonts/hanken-light-webfont.ttf") format("truetype"), url("/fonts/hanken-light-webfont.svg#hankenlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenbook';
  src: url("/fonts/hanken-book-webfont.eot");
  src: url("/fonts/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-book-webfont.woff2") format("woff2"), url("/fonts/hanken-book-webfont.woff") format("woff"), url("/fonts/hanken-book-webfont.ttf") format("truetype"), url("/fonts/hanken-book-webfont.svg#hankenbook") format("svg");
  font-weight: normal;
  font-style: normal; }

/*BREAKPOINTS*/
/* BASE FONT SIZE */
.footer {
  background-color: #B3B3B3; }
  .footer__link {
    vertical-align: middle;
    color: #2A2A33;
    font-size: 1.33333rem;
    padding: 5px;
    white-space: nowrap; }
    .footer__link i, .footer__link span {
      display: inline-block;
      vertical-align: middle; }
    .footer__link span {
      margin-left: 5px; }
      .footer__link span:before {
        margin-right: 10px;
        font-size: 1.5rem; }

@media (min-width: 480px) {
  .footer__link {
    display: inline-block;
    padding: 5px 20px;
    font-size: 1.5rem; }
    .footer__link:before {
      font-size: 1.66667rem; } }

@media (min-width: 992px) {
  .footer__link {
    font-size: 1.91667rem; }
    .footer__link:before {
      font-size: 2.08333rem; } }
