@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway-regular-webfont.eot");
  src: url("/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("/fonts/raleway-medium-webfont.eot");
  src: url("/fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-medium-webfont.woff2") format("woff2"), url("/fonts/raleway-medium-webfont.woff") format("woff"), url("/fonts/raleway-medium-webfont.ttf") format("truetype"), url("/fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("/fonts/raleway-bold-webfont.eot");
  src: url("/fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/fonts/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway-bold-webfont.ttf") format("truetype"), url("/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayblack';
  src: url("/fonts/raleway-black-webfont.eot");
  src: url("/fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-black-webfont.woff2") format("woff2"), url("/fonts/raleway-black-webfont.woff") format("woff"), url("/fonts/raleway-black-webfont.ttf") format("truetype"), url("/fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenlight';
  src: url("/fonts/hanken-light-webfont.eot");
  src: url("/fonts/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-light-webfont.woff2") format("woff2"), url("/fonts/hanken-light-webfont.woff") format("woff"), url("/fonts/hanken-light-webfont.ttf") format("truetype"), url("/fonts/hanken-light-webfont.svg#hankenlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenbook';
  src: url("/fonts/hanken-book-webfont.eot");
  src: url("/fonts/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-book-webfont.woff2") format("woff2"), url("/fonts/hanken-book-webfont.woff") format("woff"), url("/fonts/hanken-book-webfont.ttf") format("truetype"), url("/fonts/hanken-book-webfont.svg#hankenbook") format("svg");
  font-weight: normal;
  font-style: normal; }

/*BREAKPOINTS*/
/* BASE FONT SIZE */
.menu {
  position: relative;
  border-bottom: 1px solid #B3B3B3;
  text-align: center; }
  .menu__logo {
    display: inline-block;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center; }
    .menu__logo img {
      height: 60px; }
  .menu__mobile-menu-btn {
    position: fixed;
    top: 20px;
    left: 10px;
    width: 25px;
    cursor: pointer; }
  .menu__link-container {
    display: none; }

.mobile-menu {
  padding: 15vh 0;
  background-color: #808080; }
  .mobile-menu__link {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 10px; }

@media (min-width: 992px) {
  .menu__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .menu__logo {
    margin: 0; }
    .menu__logo img {
      height: 80px; }
  .menu__link {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #2A2A33;
    padding: 5px 10px;
    margin: 0 0 0 10px;
    font-family: "hankenlight", sans-serif; }
    .menu__link-container {
      display: block;
      width: 700px; } }
