/*BREAKPOINTS*/
/* BASE FONT SIZE */
.home__banner {
  position: relative;
  min-height: 300px;
  padding-bottom: 40px;
  background-position: center;
  background-size: cover; }
  .home__banner-curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .home__banner-content {
    position: relative;
    z-index: 1;
    padding: 40px 0 0 10vw;
    width: 490px;
    max-width: 90%; }
  .home__banner-title {
    padding-bottom: 20px; }
  .home__banner-subtitle {
    padding-bottom: 20px; }
  .home__banner-link {
    font-size: 16px; }

.home__steps {
  padding-top: 40px; }
  .home__steps-img {
    display: block;
    width: 200%;
    max-width: 160px;
    margin: auto; }
  .home__steps-title {
    padding: 20px 0 5px 0; }

@media (min-width: 768px) {
  .home__banner {
    min-height: 400px; }
    .home__banner-link {
      font-size: 18px; } }

@media (min-width: 992px) {
  .home__banner {
    min-height: 480px; } }
