@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway-regular-webfont.eot");
  src: url("/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("/fonts/raleway-medium-webfont.eot");
  src: url("/fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-medium-webfont.woff2") format("woff2"), url("/fonts/raleway-medium-webfont.woff") format("woff"), url("/fonts/raleway-medium-webfont.ttf") format("truetype"), url("/fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("/fonts/raleway-bold-webfont.eot");
  src: url("/fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/fonts/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway-bold-webfont.ttf") format("truetype"), url("/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayblack';
  src: url("/fonts/raleway-black-webfont.eot");
  src: url("/fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-black-webfont.woff2") format("woff2"), url("/fonts/raleway-black-webfont.woff") format("woff"), url("/fonts/raleway-black-webfont.ttf") format("truetype"), url("/fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenlight';
  src: url("/fonts/hanken-light-webfont.eot");
  src: url("/fonts/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-light-webfont.woff2") format("woff2"), url("/fonts/hanken-light-webfont.woff") format("woff"), url("/fonts/hanken-light-webfont.ttf") format("truetype"), url("/fonts/hanken-light-webfont.svg#hankenlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenbook';
  src: url("/fonts/hanken-book-webfont.eot");
  src: url("/fonts/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-book-webfont.woff2") format("woff2"), url("/fonts/hanken-book-webfont.woff") format("woff"), url("/fonts/hanken-book-webfont.ttf") format("truetype"), url("/fonts/hanken-book-webfont.svg#hankenbook") format("svg");
  font-weight: normal;
  font-style: normal; }

/*BREAKPOINTS*/
/* BASE FONT SIZE */
.restaurants {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding-top: 40px;
  width: 100%; }
  .restaurants--opened .restaurants__toggle-list-btn {
    left: calc(100% - 5px); }
    .restaurants--opened .restaurants__toggle-list-btn:before {
      content: "\f00d"; }
  .restaurants--opened .restaurants__list-container {
    transform: translateY(0%); }
  .restaurants__container {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap; }
  .restaurants__header {
    width: 80%;
    height: auto;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 9%;
    font-size: 1.66667rem; }
  .restaurants__toggle-list-btn {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 100;
    font-size: 1.66667rem;
    color: #634aff;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: all 0.5s ease-in 0.5s;
    cursor: pointer; }
    .restaurants__toggle-list-btn:before {
      content: "\f105"; }
  .restaurants__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .restaurants__list-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #F2F2F2;
      z-index: 50;
      transition: transform 0.5s ease-in;
      transform: translateX(-120%); }
      .restaurants__list-container .scrollbar {
        padding-right: 10px;
        height: 100%; }
  .restaurants__item {
    position: relative;
    width: 100%;
    max-width: 160px;
    margin: 5px 5px 20px 5px;
    cursor: pointer; }
    .restaurants__item-img {
      position: relative;
      width: 100%;
      height: 160px;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px; }
    .restaurants__item-rating-container {
      width: 100%;
      padding-left: 15px; }
    .restaurants__item-title {
      font-size: 1.5rem;
      color: #2A2A33; }
    .restaurants__item-subtitle {
      padding: 5px 0;
      font-size: 1.33333rem;
      color: #2A2A33; }
  .restaurants__map {
    width: 100%;
    min-height: 400px; }
  .restaurants__toggle-detail-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 100;
    font-size: 1.66667rem;
    color: #634aff;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: all 0.5s ease-in 0.5s;
    cursor: pointer;
    display: none; }
    .restaurants__toggle-detail-btn:before {
      content: "\f00d"; }
  .restaurants__detail {
    position: relative; }
    .restaurants__detail-grid {
      max-width: 450px;
      margin: auto; }
    .restaurants__detail-img {
      max-width: 190px;
      margin: auto;
      display: block; }
    .restaurants__detail-icon {
      width: 50px;
      margin: auto;
      display: block; }
    .restaurants__detail-text {
      font-family: "hankenlight", sans-serif;
      font-size: 1.16667rem;
      line-height: 1.5rem; }
      .restaurants__detail-text--auto {
        display: inline-block;
        margin-right: 5px; }
    .restaurants__detail-select {
      width: 73px;
      border: 1px solid #808080;
      height: 30px; }

@media (min-width: 768px) {
  .restaurants__header {
    width: 100%;
    right: 0;
    font-size: 2.5rem; } }

@media (min-width: 992px) {
  .restaurants {
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 50px 0 0 0; }
    .restaurants__container {
      padding: 30px; }
    .restaurants__header {
      top: 30px; }
    .restaurants__list-container {
      transform: translateY(0%);
      width: 40%;
      height: calc(100% - 50px);
      top: 50px; }
      .restaurants__list-container .scrollbar {
        padding-top: 0;
        padding-bottom: 0; }
    .restaurants__toggle-list-btn {
      display: none; }
    .restaurants__toggle-detail-btn {
      display: block; }
    .restaurants__map {
      width: 60%;
      min-height: auto; } }

@media (min-width: 1200px) {
  .restaurants__item {
    max-width: 200px; }
    .restaurants__item-img {
      height: 200px; } }
