@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway-regular-webfont.eot");
  src: url("/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("/fonts/raleway-medium-webfont.eot");
  src: url("/fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-medium-webfont.woff2") format("woff2"), url("/fonts/raleway-medium-webfont.woff") format("woff"), url("/fonts/raleway-medium-webfont.ttf") format("truetype"), url("/fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("/fonts/raleway-bold-webfont.eot");
  src: url("/fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/fonts/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway-bold-webfont.ttf") format("truetype"), url("/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayblack';
  src: url("/fonts/raleway-black-webfont.eot");
  src: url("/fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-black-webfont.woff2") format("woff2"), url("/fonts/raleway-black-webfont.woff") format("woff"), url("/fonts/raleway-black-webfont.ttf") format("truetype"), url("/fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenlight';
  src: url("/fonts/hanken-light-webfont.eot");
  src: url("/fonts/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-light-webfont.woff2") format("woff2"), url("/fonts/hanken-light-webfont.woff") format("woff"), url("/fonts/hanken-light-webfont.ttf") format("truetype"), url("/fonts/hanken-light-webfont.svg#hankenlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenbook';
  src: url("/fonts/hanken-book-webfont.eot");
  src: url("/fonts/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-book-webfont.woff2") format("woff2"), url("/fonts/hanken-book-webfont.woff") format("woff"), url("/fonts/hanken-book-webfont.ttf") format("truetype"), url("/fonts/hanken-book-webfont.svg#hankenbook") format("svg");
  font-weight: normal;
  font-style: normal; }

/*BREAKPOINTS*/
/* BASE FONT SIZE */
.perfil__banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px; }
  .perfil__banner-curtain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .perfil__banner-content {
    position: relative;
    z-index: 1; }
  .perfil__banner-img {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto; }
    .perfil__banner-img img {
      height: 100%;
      margin: auto; }

.perfil__close-cta {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0 5px 5px 5px;
  border-bottom: 1px solid #FFFFFF; }

.perfil__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 40px 10px 10px 10px;
  padding: 10px; }
  .perfil__item-container {
    display: flex;
    flex-wrap: wrap; }
  .perfil__item-title {
    width: 100%;
    position: absolute;
    width: 100%;
    top: -20px;
    color: #634aff;
    text-align: center;
    font-size: 1.16667rem;
    text-decoration: underline; }
  .perfil__item-number {
    font-size: 60px; }
  .perfil__item .rateyo {
    margin: auto; }

@media (min-width: 768px) {
  .perfil__banner {
    min-height: 400px; }
  .perfil__close-cta {
    font-size: 1.16667rem; }
  .perfil__item {
    position: relative;
    width: 31%;
    margin: 0; }
    .perfil__item--next {
      text-align: left; }
      .perfil__item--next .rateyo {
        margin: 0; }
    .perfil__item-container {
      justify-content: space-around;
      padding: 10px 0; }
    .perfil__item-title {
      color: #FFFFFF;
      top: -35px;
      font-size: 1.5rem; } }

@media (min-width: 992px) {
  .perfil__banner {
    min-height: 480px; }
    .perfil__banner-img {
      width: 120px;
      height: 120px; } }
