@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway-regular-webfont.eot");
  src: url("/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("/fonts/raleway-medium-webfont.eot");
  src: url("/fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-medium-webfont.woff2") format("woff2"), url("/fonts/raleway-medium-webfont.woff") format("woff"), url("/fonts/raleway-medium-webfont.ttf") format("truetype"), url("/fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("/fonts/raleway-bold-webfont.eot");
  src: url("/fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/fonts/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway-bold-webfont.ttf") format("truetype"), url("/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayblack';
  src: url("/fonts/raleway-black-webfont.eot");
  src: url("/fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-black-webfont.woff2") format("woff2"), url("/fonts/raleway-black-webfont.woff") format("woff"), url("/fonts/raleway-black-webfont.ttf") format("truetype"), url("/fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenlight';
  src: url("/fonts/hanken-light-webfont.eot");
  src: url("/fonts/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-light-webfont.woff2") format("woff2"), url("/fonts/hanken-light-webfont.woff") format("woff"), url("/fonts/hanken-light-webfont.ttf") format("truetype"), url("/fonts/hanken-light-webfont.svg#hankenlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenbook';
  src: url("/fonts/hanken-book-webfont.eot");
  src: url("/fonts/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-book-webfont.woff2") format("woff2"), url("/fonts/hanken-book-webfont.woff") format("woff"), url("/fonts/hanken-book-webfont.ttf") format("truetype"), url("/fonts/hanken-book-webfont.svg#hankenbook") format("svg");
  font-weight: normal;
  font-style: normal; }

/*BREAKPOINTS*/
/* BASE FONT SIZE */
.planes__item {
  background-color: #F2F2F2;
  border: 1px solid #808080;
  width: 70%;
  padding: 10px;
  margin: 0 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  .planes__item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .planes__item-title {
    font-size: 4.16667rem;
    font-family: "ralewaybold", sans-serif; }
  .planes__item-subtitle {
    font-size: 1.16667rem;
    padding: 10px 0; }
  .planes__item-value {
    font-size: 2.08333rem;
    padding: 0 0 10px 0; }

.planes__checkout-resume {
  min-height: 350px; }

@media (min-width: 480px) {
  .planes__item {
    width: 32.5%;
    height: 190px; }
    .planes__item-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
    .planes__item-value {
      font-size: 2.5rem; } }
