@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway-regular-webfont.eot");
  src: url("/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("/fonts/raleway-medium-webfont.eot");
  src: url("/fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-medium-webfont.woff2") format("woff2"), url("/fonts/raleway-medium-webfont.woff") format("woff"), url("/fonts/raleway-medium-webfont.ttf") format("truetype"), url("/fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("/fonts/raleway-bold-webfont.eot");
  src: url("/fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/fonts/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway-bold-webfont.ttf") format("truetype"), url("/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayblack';
  src: url("/fonts/raleway-black-webfont.eot");
  src: url("/fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-black-webfont.woff2") format("woff2"), url("/fonts/raleway-black-webfont.woff") format("woff"), url("/fonts/raleway-black-webfont.ttf") format("truetype"), url("/fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenlight';
  src: url("/fonts/hanken-light-webfont.eot");
  src: url("/fonts/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-light-webfont.woff2") format("woff2"), url("/fonts/hanken-light-webfont.woff") format("woff"), url("/fonts/hanken-light-webfont.ttf") format("truetype"), url("/fonts/hanken-light-webfont.svg#hankenlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenbook';
  src: url("/fonts/hanken-book-webfont.eot");
  src: url("/fonts/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-book-webfont.woff2") format("woff2"), url("/fonts/hanken-book-webfont.woff") format("woff"), url("/fonts/hanken-book-webfont.ttf") format("truetype"), url("/fonts/hanken-book-webfont.svg#hankenbook") format("svg");
  font-weight: normal;
  font-style: normal; }

/*BREAKPOINTS*/
/* BASE FONT SIZE */
.register__login-btn {
  display: block;
  padding: 10px 5px;
  color: #FFFFFF;
  font-size: 1.5rem;
  margin: 0 0 20px 0;
  text-align: center; }
  .register__login-btn--fb {
    background-color: #0071BC; }
  .register__login-btn--plus {
    background-color: #C1272D; }

.register__form {
  width: 100%;
  max-width: 400px;
  margin: auto; }
  .register__form--wider {
    max-width: 460px; }
  .register__form input {
    width: 100%; }
    .register__form input[type=checkbox] {
      margin: 0 5px 0 0;
      width: 20px;
      height: 15px; }
  .register__form-block {
    display: flex;
    justify-content: space-between;
    align-content: flex-end; }
  .register__form-submit {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    font-size: 2rem; }
  .register__form-terms {
    display: block;
    color: #2A2A33;
    margin: 20px 0 0 0;
    font-size: 1.33333rem; }
  .register__form-remember label {
    display: inline-block; }
  .register__form-forgot {
    margin: 20px 0 0 0;
    display: block;
    color: #634aff;
    font-size: 1.16667rem;
    text-align: center; }

.register__division {
  position: relative;
  color: #2A2A33;
  margin-bottom: 20px; }
  .register__division span {
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    padding: 2px 10px; }
  .register__division:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    vertical-align: middle;
    border-top: 1px solid #B3B3B3;
    width: 100%; }
