@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway-regular-webfont.eot");
  src: url("/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("/fonts/raleway-medium-webfont.eot");
  src: url("/fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-medium-webfont.woff2") format("woff2"), url("/fonts/raleway-medium-webfont.woff") format("woff"), url("/fonts/raleway-medium-webfont.ttf") format("truetype"), url("/fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("/fonts/raleway-bold-webfont.eot");
  src: url("/fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/fonts/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway-bold-webfont.ttf") format("truetype"), url("/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayblack';
  src: url("/fonts/raleway-black-webfont.eot");
  src: url("/fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-black-webfont.woff2") format("woff2"), url("/fonts/raleway-black-webfont.woff") format("woff"), url("/fonts/raleway-black-webfont.ttf") format("truetype"), url("/fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenlight';
  src: url("/fonts/hanken-light-webfont.eot");
  src: url("/fonts/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-light-webfont.woff2") format("woff2"), url("/fonts/hanken-light-webfont.woff") format("woff"), url("/fonts/hanken-light-webfont.ttf") format("truetype"), url("/fonts/hanken-light-webfont.svg#hankenlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenbook';
  src: url("/fonts/hanken-book-webfont.eot");
  src: url("/fonts/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-book-webfont.woff2") format("woff2"), url("/fonts/hanken-book-webfont.woff") format("woff"), url("/fonts/hanken-book-webfont.ttf") format("truetype"), url("/fonts/hanken-book-webfont.svg#hankenbook") format("svg");
  font-weight: normal;
  font-style: normal; }

/*BREAKPOINTS*/
/* BASE FONT SIZE */
.restaurants-list {
  max-width: 1100px; }
  .restaurants-list__tools {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin: 0 0 20px 0; }
    .restaurants-list__tools input {
      width: 100%;
      height: 35px; }
    .restaurants-list__tools-submit {
      background-color: transparent;
      border: none;
      color: #2A2A33;
      font-size: 1.66667rem; }
    .restaurants-list__tools--filters-opened {
      border: 1px solid #634aff;
      border-bottom: none; }
      .restaurants-list__tools--filters-opened .restaurants-list__filters-btn {
        font-weight: 900;
        border-bottom: 1px solid #2A2A33; }
      .restaurants-list__tools--filters-opened .restaurants-list__filters-container {
        opacity: 1;
        visibility: visible; }
  .restaurants-list__map {
    color: #2A2A33;
    font-size: 1.33333rem; }
    .restaurants-list__map:before {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 20px;
      height: 30px;
      background: url(/images/map.svg) center no-repeat;
      background-size: 100% auto;
      margin: -3px 5px 0 0; }
  .restaurants-list__filters-title {
    color: #808080;
    font-size: 1.16667rem;
    margin-bottom: 10px; }
  .restaurants-list__filters-btn {
    color: #2A2A33;
    font-size: 1.33333rem;
    line-height: 1.33333rem;
    background-color: transparent;
    border: none;
    cursor: pointer; }
    .restaurants-list__filters-btn:before {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 20px;
      height: 30px;
      background: url(/images/filter.svg) center no-repeat;
      background-size: 100% auto;
      margin: -3px 5px 0 0; }
  .restaurants-list__filters-container {
    opacity: 0;
    visibility: hidden;
    width: calc(100% + 2px);
    z-index: 5;
    position: absolute;
    top: 100%;
    left: -1px;
    background-color: #FFFFFF;
    border: 1px solid #634aff;
    border-top: none;
    padding: 10px; }
  .restaurants-list__filters-block {
    margin-bottom: 10px; }
  .restaurants-list__filters .active {
    background-color: #634aff;
    color: #FFFFFF; }
  .restaurants-list__filters label {
    position: relative; }
  .restaurants-list__filters input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin: 0; }
  .restaurants-list__filters .cta-button-2 {
    margin-bottom: 10px;
    margin-right: 10px; }
  .restaurants-list__item {
    position: relative;
    overflow: hidden;
    height: auto;
    width: 100%;
    padding: 10px;
    cursor: pointer; }
    .restaurants-list__item-container {
      position: relative;
      overflow: hidden; }
    .restaurants-list__item img {
      display: block;
      width: 100%; }
    .restaurants-list__item-details {
      background-color: rgba(42, 42, 51, 0.4);
      padding: 10px;
      position: absolute;
      width: calc(100% - 20px);
      left: 0;
      top: 10px;
      left: 10px; }
    .restaurants-list__item-title {
      color: #FFFFFF;
      font-size: 1.33333rem;
      font-weight: 700;
      margin-bottom: 10px; }
    .restaurants-list__item-tags {
      margin-top: 10px;
      color: #FFFFFF;
      font-size: 0.83333rem;
      line-height: 1rem; }
  .restaurants-list .sizer-element {
    width: 100%;
    height: 1px; }

@media (min-width: 480px) {
  .restaurants-list__item,
  .restaurants-list .sizer-element {
    width: 50%; } }

@media (min-width: 768px) {
  .restaurants-list__tools {
    max-width: 700px;
    margin: 0 auto 20px;
    flex-wrap: nowrap; }
    .restaurants-list__tools input {
      width: 60%;
      margin: 0; }
  .restaurants-list__map, .restaurants-list__filters {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px #B3B3B3 solid; }
  .restaurants-list__item,
  .restaurants-list .sizer-element {
    width: 30%; }
  .restaurants-list__item:nth-child(8n-6) {
    margin-top: 40px; } }

@media (min-width: 992px) {
  .restaurants-list__item,
  .restaurants-list .sizer-element {
    width: 25%; } }
