/*BREAKPOINTS*/
/* BASE FONT SIZE */
@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway-regular-webfont.eot");
  src: url("/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("/fonts/raleway-medium-webfont.eot");
  src: url("/fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-medium-webfont.woff2") format("woff2"), url("/fonts/raleway-medium-webfont.woff") format("woff"), url("/fonts/raleway-medium-webfont.ttf") format("truetype"), url("/fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("/fonts/raleway-bold-webfont.eot");
  src: url("/fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/fonts/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway-bold-webfont.ttf") format("truetype"), url("/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayblack';
  src: url("/fonts/raleway-black-webfont.eot");
  src: url("/fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-black-webfont.woff2") format("woff2"), url("/fonts/raleway-black-webfont.woff") format("woff"), url("/fonts/raleway-black-webfont.ttf") format("truetype"), url("/fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenlight';
  src: url("/fonts/hanken-light-webfont.eot");
  src: url("/fonts/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-light-webfont.woff2") format("woff2"), url("/fonts/hanken-light-webfont.woff") format("woff"), url("/fonts/hanken-light-webfont.ttf") format("truetype"), url("/fonts/hanken-light-webfont.svg#hankenlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenbook';
  src: url("/fonts/hanken-book-webfont.eot");
  src: url("/fonts/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-book-webfont.woff2") format("woff2"), url("/fonts/hanken-book-webfont.woff") format("woff"), url("/fonts/hanken-book-webfont.ttf") format("truetype"), url("/fonts/hanken-book-webfont.svg#hankenbook") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/*! Reflex v1.5.0 - https://github.com/leejordan/reflex */
.grid, .grid__cell {
  position: relative; }

.grid, .grid:after, .grid:before, .grid__cell-img {
  max-width: 100%; }

.grid {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  *display: inline;
  zoom: 1;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
  letter-spacing: -0.31em !important;
  *letter-spacing: normal !important;
  word-spacing: -0.43em !important;
  list-style-type: none; }

.grid :after, .grid :before, .grid:after, .grid:before, [class*=grid__col-] {
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal; }

.grid .grid {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; }

.grid *, .grid :after, .grid :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[class*=grid__col-] {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  *display: inline;
  zoom: 1;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 1em; }

.grid--bleed [class*=grid__col-], .grid__col--bleed {
  padding: 0; }

.grid__cell {
  display: block;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto; }

:-ms-fullscreen .grid__cell, :root .grid__cell {
  width: 100%; }

.grid__col-12 {
  width: 100%;
  *width: 99.9%; }

.grid__col-11 {
  width: 91.66666667%;
  *width: 91.56666667%; }

.grid__col-10 {
  width: 83.33333333%;
  *width: 83.23333333%; }

.grid__col-9 {
  width: 75%;
  *width: 74.9%; }

.grid__col-8 {
  width: 66.66666667%;
  *width: 66.56666667%; }

.grid__col-7 {
  width: 58.33333333%;
  *width: 58.23333333%; }

.grid__col-6 {
  width: 50%;
  *width: 49.9%; }

.grid__col-5 {
  width: 41.66666667%;
  *width: 41.56666667%; }

.grid__col-4 {
  width: 33.33333333%;
  *width: 33.23333333%; }

.grid__col-3 {
  width: 25%;
  *width: 24.9%; }

.grid__col-2 {
  width: 16.66666667%;
  *width: 16.56666667%; }

.grid__col-1 {
  width: 8.33333333%;
  *width: 8.23333333%; }

@media (min-width: 480px) {
  .grid__col-xs-12 {
    width: 100%;
    *width: 99.9%; }
  .grid__col-xs-11 {
    width: 91.66666667%;
    *width: 91.56666667%; }
  .grid__col-xs-10 {
    width: 83.33333333%;
    *width: 83.23333333%; }
  .grid__col-xs-9 {
    width: 75%;
    *width: 74.9%; }
  .grid__col-xs-8 {
    width: 66.66666667%;
    *width: 66.56666667%; }
  .grid__col-xs-7 {
    width: 58.33333333%;
    *width: 58.23333333%; }
  .grid__col-xs-6 {
    width: 50%;
    *width: 49.9%; }
  .grid__col-xs-5 {
    width: 41.66666667%;
    *width: 41.56666667%; }
  .grid__col-xs-4 {
    width: 33.33333333%;
    *width: 33.23333333%; }
  .grid__col-xs-3 {
    width: 25%;
    *width: 24.9%; }
  .grid__col-xs-2 {
    width: 16.66666667%;
    *width: 16.56666667%; }
  .grid__col-xs-1 {
    width: 8.33333333%;
    *width: 8.23333333%; } }

@media (min-width: 768px) {
  .grid__col-sm-12 {
    width: 100%;
    *width: 99.9%; }
  .grid__col-sm-11 {
    width: 91.66666667%;
    *width: 91.56666667%; }
  .grid__col-sm-10 {
    width: 83.33333333%;
    *width: 83.23333333%; }
  .grid__col-sm-9 {
    width: 75%;
    *width: 74.9%; }
  .grid__col-sm-8 {
    width: 66.66666667%;
    *width: 66.56666667%; }
  .grid__col-sm-7 {
    width: 58.33333333%;
    *width: 58.23333333%; }
  .grid__col-sm-6 {
    width: 50%;
    *width: 49.9%; }
  .grid__col-sm-5 {
    width: 41.66666667%;
    *width: 41.56666667%; }
  .grid__col-sm-4 {
    width: 33.33333333%;
    *width: 33.23333333%; }
  .grid__col-sm-3 {
    width: 25%;
    *width: 24.9%; }
  .grid__col-sm-2 {
    width: 16.66666667%;
    *width: 16.56666667%; }
  .grid__col-sm-1 {
    width: 8.33333333%;
    *width: 8.23333333%; } }

@media (min-width: 992px) {
  .grid__col-md-12 {
    width: 100%;
    *width: 99.9%; }
  .grid__col-md-11 {
    width: 91.66666667%;
    *width: 91.56666667%; }
  .grid__col-md-10 {
    width: 83.33333333%;
    *width: 83.23333333%; }
  .grid__col-md-9 {
    width: 75%;
    *width: 74.9%; }
  .grid__col-md-8 {
    width: 66.66666667%;
    *width: 66.56666667%; }
  .grid__col-md-7 {
    width: 58.33333333%;
    *width: 58.23333333%; }
  .grid__col-md-6 {
    width: 50%;
    *width: 49.9%; }
  .grid__col-md-5 {
    width: 41.66666667%;
    *width: 41.56666667%; }
  .grid__col-md-4 {
    width: 33.33333333%;
    *width: 33.23333333%; }
  .grid__col-md-3 {
    width: 25%;
    *width: 24.9%; }
  .grid__col-md-2 {
    width: 16.66666667%;
    *width: 16.56666667%; }
  .grid__col-md-1 {
    width: 8.33333333%;
    *width: 8.23333333%; } }

@media (min-width: 1200px) {
  .grid__col-lg-12 {
    width: 100%;
    *width: 99.9%; }
  .grid__col-lg-11 {
    width: 91.66666667%;
    *width: 91.56666667%; }
  .grid__col-lg-10 {
    width: 83.33333333%;
    *width: 83.23333333%; }
  .grid__col-lg-9 {
    width: 75%;
    *width: 74.9%; }
  .grid__col-lg-8 {
    width: 66.66666667%;
    *width: 66.56666667%; }
  .grid__col-lg-7 {
    width: 58.33333333%;
    *width: 58.23333333%; }
  .grid__col-lg-6 {
    width: 50%;
    *width: 49.9%; }
  .grid__col-lg-5 {
    width: 41.66666667%;
    *width: 41.56666667%; }
  .grid__col-lg-4 {
    width: 33.33333333%;
    *width: 33.23333333%; }
  .grid__col-lg-3 {
    width: 25%;
    *width: 24.9%; }
  .grid__col-lg-2 {
    width: 16.66666667%;
    *width: 16.56666667%; }
  .grid__col-lg-1 {
    width: 8.33333333%;
    *width: 8.23333333%; } }

@media (min-width: 1600px) {
  .grid__col-xlg-12 {
    width: 100%;
    *width: 99.9%; }
  .grid__col-xlg-11 {
    width: 91.66666667%;
    *width: 91.56666667%; }
  .grid__col-xlg-10 {
    width: 83.33333333%;
    *width: 83.23333333%; }
  .grid__col-xlg-9 {
    width: 75%;
    *width: 74.9%; }
  .grid__col-xlg-8 {
    width: 66.66666667%;
    *width: 66.56666667%; }
  .grid__col-xlg-7 {
    width: 58.33333333%;
    *width: 58.23333333%; }
  .grid__col-xlg-6 {
    width: 50%;
    *width: 49.9%; }
  .grid__col-xlg-5 {
    width: 41.66666667%;
    *width: 41.56666667%; }
  .grid__col-xlg-4 {
    width: 33.33333333%;
    *width: 33.23333333%; }
  .grid__col-xlg-3 {
    width: 25%;
    *width: 24.9%; }
  .grid__col-xlg-2 {
    width: 16.66666667%;
    *width: 16.56666667%; }
  .grid__col-xlg-1 {
    width: 8.33333333%;
    *width: 8.23333333%; } }

.grid__col-auto {
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px;
  width: auto !important;
  max-width: 100%; }

@media (min-width: 480px) {
  .grid__col-xs-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%; } }

@media (min-width: 768px) {
  .grid__col-sm-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%; } }

@media (min-width: 992px) {
  .grid__col-md-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%; } }

@media (min-width: 1200px) {
  .grid__col-lg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%; } }

@media (min-width: 1600px) {
  .grid__col-xlg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto !important;
    max-width: 100%; } }

.grid--order-12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12; }

.grid--order-11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11; }

.grid--order-10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10; }

.grid--order-9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9; }

.grid--order-8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8; }

.grid--order-7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7; }

.grid--order-6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6; }

.grid--order-5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5; }

.grid--order-4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4; }

.grid--order-3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3; }

.grid--order-2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; }

.grid--order-1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }

.grid--order-0 {
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0; }

@media only screen and (min-width: 480px) {
  .grid--order-12-xs {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }
  .grid--order-11-xs {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }
  .grid--order-10-xs {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }
  .grid--order-9-xs {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }
  .grid--order-8-xs {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }
  .grid--order-7-xs {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }
  .grid--order-6-xs {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }
  .grid--order-5-xs {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }
  .grid--order-4-xs {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }
  .grid--order-3-xs {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  .grid--order-2-xs {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .grid--order-1-xs {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .grid--order-0-xs {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }

@media only screen and (min-width: 768px) {
  .grid--order-12-sm {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }
  .grid--order-11-sm {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }
  .grid--order-10-sm {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }
  .grid--order-9-sm {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }
  .grid--order-8-sm {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }
  .grid--order-7-sm {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }
  .grid--order-6-sm {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }
  .grid--order-5-sm {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }
  .grid--order-4-sm {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }
  .grid--order-3-sm {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  .grid--order-2-sm {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .grid--order-1-sm {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .grid--order-0-sm {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }

@media only screen and (min-width: 992px) {
  .grid--order-12-md {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }
  .grid--order-11-md {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }
  .grid--order-10-md {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }
  .grid--order-9-md {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }
  .grid--order-8-md {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }
  .grid--order-7-md {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }
  .grid--order-6-md {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }
  .grid--order-5-md {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }
  .grid--order-4-md {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }
  .grid--order-3-md {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  .grid--order-2-md {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .grid--order-1-md {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .grid--order-0-md {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }

@media only screen and (min-width: 1200px) {
  .grid--order-12-lg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }
  .grid--order-11-lg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }
  .grid--order-10-lg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }
  .grid--order-9-lg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }
  .grid--order-8-lg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }
  .grid--order-7-lg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }
  .grid--order-6-lg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }
  .grid--order-5-lg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }
  .grid--order-4-lg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }
  .grid--order-3-lg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  .grid--order-2-lg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .grid--order-1-lg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .grid--order-0-lg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }

@media only screen and (min-width: 1600px) {
  .grid--order-12-xlg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12; }
  .grid--order-11-xlg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11; }
  .grid--order-10-xlg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10; }
  .grid--order-9-xlg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9; }
  .grid--order-8-xlg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8; }
  .grid--order-7-xlg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7; }
  .grid--order-6-xlg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6; }
  .grid--order-5-xlg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5; }
  .grid--order-4-xlg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4; }
  .grid--order-3-xlg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3; }
  .grid--order-2-xlg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }
  .grid--order-1-xlg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }
  .grid--order-0-xlg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }

.grid--wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.grid--no-wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.grid--wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse; }

.grid--direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row; }

.grid--direction-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.grid--direction-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.grid--direction-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.grid--align-start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start; }

.grid--align-end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

.grid--align-end [class*=grid__col-] {
  vertical-align: bottom; }

.grid--align-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.grid--align-center [class*=grid__col-] {
  vertical-align: middle; }

.grid--align-baseline {
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline; }

.grid--align-baseline [class*=grid__col-] {
  vertical-align: baseline; }

.grid--align-content-end [class*=grid__col-], .grid--align-self-end {
  vertical-align: bottom; }

.grid--align-content-start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }

.grid--align-content-end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end; }

.grid--align-content-center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center; }

.grid--align-content-space-between {
  -ms-flex-line-pack: space-between;
  -webkit-align-content: space-between;
  align-content: space-between; }

.grid--align-content-space-around {
  -ms-flex-line-pack: space-around;
  -webkit-align-content: space-around;
  align-content: space-around; }

.grid--align-self-stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch; }

.grid--align-self-start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start; }

.grid--align-self-end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end; }

.grid--align-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  vertical-align: middle; }

.grid--align-self-baseline {
  -ms-flex-item-align: baseline;
  -webkit-align-self: baseline;
  align-self: baseline;
  vertical-align: baseline; }

.grid--justify-start {
  text-align: left;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.grid--justify-end {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.grid--justify-end .grid__cell, .grid--justify-end [class*=grid__col-] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial; }

.grid--justify-center {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.grid--justify-center .grid__cell, .grid--justify-center [class*=grid__col-] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial; }

.grid--justify-space-between {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.grid--justify-space-between .grid__cell, .grid--justify-space-between [class*=grid__col-] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial; }

.grid--justify-space-around {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.grid--justify-space-around .grid__cell, .grid--justify-space-around [class*=grid__col-] {
  text-align: left;
  text-align: start;
  text-align: initial;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  -moz-text-align-last: initial;
  text-align-last: left;
  text-align-last: start;
  text-align-last: initial; }

.grid__col--bleed-x {
  padding: 1em 0; }

.grid__col--bleed-y {
  padding: 0 1em; }

.grid__col--bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 50%; }

.grid__cell--padding-sm {
  padding: .5em; }

.grid__cell--padding-md {
  padding: 1em; }

.grid__cell--padding-lg {
  padding: 2em; }

.grid__cell-img {
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: auto; }

.grid__cell-footer {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  *display: inline;
  zoom: 1;
  width: 100%;
  margin-top: auto; }

@media (max-width: 479px) {
  .hidden-xxs {
    display: none !important; } }

@media (min-width: 480px) and (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.initial {
  text-transform: initial; }

.no-transform {
  text-transform: none !important; }

.line-through {
  text-decoration: line-through; }

.overline {
  text-decoration: overline; }

.underline {
  text-decoration: underline; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: rightl; }

.hidden {
  display: none; }

.cursor-auto {
  cursor: auto !important; }

.delay-0 {
  animation-delay: 0s; }

.delay-1 {
  animation-delay: 0.25s; }

.delay-2 {
  animation-delay: 0.5s; }

.delay-3 {
  animation-delay: 0.75s; }

.delay-4 {
  animation-delay: 1s; }

.delay-5 {
  animation-delay: 1.25s; }

.delay-6 {
  animation-delay: 1.5s; }

.delay-7 {
  animation-delay: 1.75s; }

.delay-8 {
  animation-delay: 2s; }

.delay-9 {
  animation-delay: 2.25s; }

.delay-10 {
  animation-delay: 2.5s; }

@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway-regular-webfont.eot");
  src: url("/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("/fonts/raleway-medium-webfont.eot");
  src: url("/fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-medium-webfont.woff2") format("woff2"), url("/fonts/raleway-medium-webfont.woff") format("woff"), url("/fonts/raleway-medium-webfont.ttf") format("truetype"), url("/fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("/fonts/raleway-bold-webfont.eot");
  src: url("/fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/fonts/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway-bold-webfont.ttf") format("truetype"), url("/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayblack';
  src: url("/fonts/raleway-black-webfont.eot");
  src: url("/fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-black-webfont.woff2") format("woff2"), url("/fonts/raleway-black-webfont.woff") format("woff"), url("/fonts/raleway-black-webfont.ttf") format("truetype"), url("/fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenlight';
  src: url("/fonts/hanken-light-webfont.eot");
  src: url("/fonts/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-light-webfont.woff2") format("woff2"), url("/fonts/hanken-light-webfont.woff") format("woff"), url("/fonts/hanken-light-webfont.ttf") format("truetype"), url("/fonts/hanken-light-webfont.svg#hankenlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenbook';
  src: url("/fonts/hanken-book-webfont.eot");
  src: url("/fonts/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-book-webfont.woff2") format("woff2"), url("/fonts/hanken-book-webfont.woff") format("woff"), url("/fonts/hanken-book-webfont.ttf") format("truetype"), url("/fonts/hanken-book-webfont.svg#hankenbook") format("svg");
  font-weight: normal;
  font-style: normal; }

/*BREAKPOINTS*/
/* BASE FONT SIZE */
.menu {
  position: relative;
  border-bottom: 1px solid #B3B3B3;
  text-align: center; }
  .menu__logo {
    display: inline-block;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center; }
    .menu__logo img {
      height: 60px; }
  .menu__mobile-menu-btn {
    position: fixed;
    top: 20px;
    left: 10px;
    width: 25px;
    cursor: pointer; }
  .menu__link-container {
    display: none; }

.mobile-menu {
  padding: 15vh 0;
  background-color: #808080; }
  .mobile-menu__link {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 10px; }

@media (min-width: 992px) {
  .menu__content {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .menu__logo {
    margin: 0; }
    .menu__logo img {
      height: 80px; }
  .menu__link {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #2A2A33;
    padding: 5px 10px;
    margin: 0 0 0 10px;
    font-family: "hankenlight", sans-serif; }
    .menu__link-container {
      display: block;
      width: 700px; } }

@font-face {
  font-family: 'ralewayregular';
  src: url("/fonts/raleway-regular-webfont.eot");
  src: url("/fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-regular-webfont.woff2") format("woff2"), url("/fonts/raleway-regular-webfont.woff") format("woff"), url("/fonts/raleway-regular-webfont.ttf") format("truetype"), url("/fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaymedium';
  src: url("/fonts/raleway-medium-webfont.eot");
  src: url("/fonts/raleway-medium-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-medium-webfont.woff2") format("woff2"), url("/fonts/raleway-medium-webfont.woff") format("woff"), url("/fonts/raleway-medium-webfont.ttf") format("truetype"), url("/fonts/raleway-medium-webfont.svg#ralewaymedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewaybold';
  src: url("/fonts/raleway-bold-webfont.eot");
  src: url("/fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-bold-webfont.woff2") format("woff2"), url("/fonts/raleway-bold-webfont.woff") format("woff"), url("/fonts/raleway-bold-webfont.ttf") format("truetype"), url("/fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ralewayblack';
  src: url("/fonts/raleway-black-webfont.eot");
  src: url("/fonts/raleway-black-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/raleway-black-webfont.woff2") format("woff2"), url("/fonts/raleway-black-webfont.woff") format("woff"), url("/fonts/raleway-black-webfont.ttf") format("truetype"), url("/fonts/raleway-black-webfont.svg#ralewayblack") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenlight';
  src: url("/fonts/hanken-light-webfont.eot");
  src: url("/fonts/hanken-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-light-webfont.woff2") format("woff2"), url("/fonts/hanken-light-webfont.woff") format("woff"), url("/fonts/hanken-light-webfont.ttf") format("truetype"), url("/fonts/hanken-light-webfont.svg#hankenlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'hankenbook';
  src: url("/fonts/hanken-book-webfont.eot");
  src: url("/fonts/hanken-book-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hanken-book-webfont.woff2") format("woff2"), url("/fonts/hanken-book-webfont.woff") format("woff"), url("/fonts/hanken-book-webfont.ttf") format("truetype"), url("/fonts/hanken-book-webfont.svg#hankenbook") format("svg");
  font-weight: normal;
  font-style: normal; }

/*BREAKPOINTS*/
/* BASE FONT SIZE */
.footer {
  background-color: #B3B3B3; }
  .footer__link {
    vertical-align: middle;
    color: #2A2A33;
    font-size: 1.33333rem;
    padding: 5px;
    white-space: nowrap; }
    .footer__link i, .footer__link span {
      display: inline-block;
      vertical-align: middle; }
    .footer__link span {
      margin-left: 5px; }
      .footer__link span:before {
        margin-right: 10px;
        font-size: 1.5rem; }

@media (min-width: 480px) {
  .footer__link {
    display: inline-block;
    padding: 5px 20px;
    font-size: 1.5rem; }
    .footer__link:before {
      font-size: 1.66667rem; } }

@media (min-width: 992px) {
  .footer__link {
    font-size: 1.91667rem; }
    .footer__link:before {
      font-size: 2.08333rem; } }

html {
  font-size: 12px; }

body {
  font-family: "ralewayregular", sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box; }

.rateyo {
  padding: 0; }

.register__form-forgot {
  margin: 20px 0 0 0;
  display: block;
  color: #2CA397;
  font-size: 1.16667rem;
  text-align: center; }

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around; }

main {
  transition: transform 1s; }

.page-content {
  max-width: 90%;
  margin: auto; }

.block-content {
  max-width: 780px;
  margin: auto; }

.link {
  color: #634aff; }
  .link:hover {
    color: #01fd78; }

.section-padding {
  padding: 20px; }

.mCSB_inside > .mCSB_container {
  margin-right: 20px; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #808080;
  width: 13px; }

.mCSB_scrollTools {
  width: 15px;
  border: 1px solid #2A2A33;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }

.mCSB_scrollTools .mCSB_draggerContainer {
  width: 13px; }

.mCSB_scrollTools .mCSB_draggerRail {
  background-color: transparent; }

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #808080; }

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url(/images/loader.gif);
  background-position: center;
  background-repeat: no-repeat; }

.remodal {
  padding: 0;
  padding: 40px 20px; }
  .remodal-overlay {
    background-color: rgba(255, 255, 255, 0.4); }
  .remodal-close {
    left: auto;
    right: 0;
    color: #634aff;
    z-index: 1; }
    .bg-green .remodal-close {
      color: #FFFFFF; }

label {
  display: block;
  font-size: 1.33333rem;
  font-weight: normal;
  margin: 0 0 10px 0; }

input,
select,
textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  border: none;
  background-color: #FFFFFF;
  border: 1px solid #B3B3B3;
  font-size: 1.16667rem;
  margin-bottom: 15px;
  color: #808080; }
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #B3B3B3; }

input,
select {
  height: 40px;
  line-height: 40px; }

textarea {
  padding: 10px; }

.input-side-space {
  margin-right: 25px; }

.input-cover {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  cursor: pointer; }

.slideout-menu {
  opacity: 1; }

.bg-black {
  background-color: #2A2A33; }

.bg-green {
  background-color: #634aff;
  color: #FFFFFF; }

.bg-green-bright {
  background-color: #01fd78; }

.bg-grey-1 {
  background-color: #B3B3B3; }

.bg-grey-2 {
  background-color: #808080; }

.bg-grey-3 {
  background-color: #F2F2F2; }

.color-white {
  color: #FFFFFF; }

.color-black {
  color: #2A2A33; }

.color-green {
  color: #634aff; }

.color-green-bright {
  color: #01fd78; }

.color-grey-1 {
  color: #B3B3B3; }

.color-grey-2 {
  color: #808080; }

.color-grey-3 {
  color: #F2F2F2; }

.text-1 {
  font-size: 3.33333rem;
  font-family: "ralewaybold", sans-serif; }

.text-2 {
  font-size: 2.5rem;
  font-family: "ralewaybold", sans-serif; }

.text-3 {
  font-size: 2.16667rem;
  font-family: "ralewaymedium", sans-serif; }

.text-4 {
  font-size: 1.33333rem;
  font-family: "ralewaymedium", sans-serif;
  line-height: 1.3; }

.text-5 {
  font-size: 1.16667rem;
  font-family: "ralewayregular", sans-serif; }

.black {
  font-family: "ralewayblack", sans-serif !important; }

.medium {
  font-family: "ralewaymedium", sans-serif !important; }

.bold {
  /*font-family: $font-raleway-bold !important;*/
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700; }

.top-space {
  padding-top: 20px; }
  .top-space-xs {
    padding-top: 10px; }
  .top-space-xl {
    padding-top: 40px; }

.bottom-space {
  padding-bottom: 20px; }
  .bottom-space-xxs {
    padding-bottom: 5px; }
  .bottom-space-xs {
    padding-bottom: 10px; }
  .bottom-space-xl {
    padding-bottom: 40px; }

.cta-button {
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 10px 20px;
  background-color: #01fd78;
  color: #2A2A33;
  font-family: "ralewayregular", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  border: none; }
  .cta-button--dark {
    background-color: #634aff;
    color: #FFFFFF; }
  .cta-button--white {
    background-color: #FFFFFF;
    color: #2A2A33; }
  .cta-button--auto {
    display: inline-block; }
  .cta-button.cta-selector--active {
    background-color: #B3B3B3; }

.text-block p {
  font-size: 1.16667rem;
  margin: 0 0 10px 0; }

.border {
  border: 1px solid #B3B3B3; }

.confirmation {
  max-width: 380px;
  margin: auto; }
  .confirmation__img {
    width: 100px;
    max-width: 80px;
    margin: auto; }

.tarjetas {
  display: inline-block;
  display: none;
  width: 100%; }
  .tarjetas .tarjeta {
    display: inline-block;
    width: 100%; }
    .tarjetas .tarjeta p {
      display: inline-block;
      width: 100%; }

.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative; }
  .inputGroup label {
    padding: 14px 0 14px 9px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    border: solid 1px #B3B3B3; }
    .inputGroup label:before {
      width: 100%;
      height: 10px;
      border-radius: 50%;
      content: '';
      background-color: #B3B3B3;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1;
      padding: 0; }
    .inputGroup label:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #D1D7DC;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in; }
  .inputGroup input:checked ~ label {
    color: #fff; }
    .inputGroup input:checked ~ label:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1; }
    .inputGroup input:checked ~ label:after {
      background-color: #634aff;
      border-color: #634aff; }
  .inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden; }

#cont_tarjeta {
  display: none; }

#cuotas {
  padding-left: 0; }

.codigo_cont {
  margin: 0px 0 15px; }

.codigo_text {
  font-size: 2.2rem !important;
  text-align: left; }

@media (min-width: 480px) {
  .xs-hidden {
    display: none; } }

@media (min-width: 768px) {
  .sm-hidden {
    display: none; }
  .remodal {
    max-width: 600px; } }

@media (min-width: 992px) {
  .md-hidden {
    display: none; }
  main {
    transform: translateX(0) !important; }
  .section-padding {
    padding: 30px 0; }
  .text-1 {
    font-size: 3.83333rem; }
  .text-2 {
    font-size: 2.83333rem; }
  .text-3 {
    font-size: 2.16667rem; }
  .text-4 {
    font-size: 1.5rem; }
  .text-5 {
    font-size: 1.33333rem; }
  .top-space {
    padding-top: 40px; }
    .top-space-xs {
      padding-top: 20px; }
    .top-space-xl {
      padding-top: 80px; }
  .bottom-space {
    padding-bottom: 40px; }
    .bottom-space-xxs {
      padding-bottom: 10px; }
    .bottom-space-xs {
      padding-bottom: 20px; }
    .bottom-space-xl {
      padding-bottom: 80px; } }

@media (min-width: 1200px) {
  .lg-hidden {
    display: none; } }

@media (min-width: 1600px) {
  .xlg-hidden {
    display: none; } }
