{% extends 'lay_iridian.html.twig' %}


{% block content %}

    <div class="container add_card">
        <div class="row">
            <div class="col-lg-12">
                <table cellpadding="10">
                    <tbody>
                    <tr>
                        <th>Tarjeta</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    {% for item in app.user.tokens %}
                        <tr>
                            <form>
                                <td><label>{{ item.paymentMethod }} | {{ item.maskedNumber }}</label></td>
                                <td><input type="button" value="Eliminar" onclick="DeleteCard('{{ item.id }}')"/></td>
                                <td><label>Usar <input type="radio" name="card" value="{{ item.id }}"></label></td>
                            </form>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <h3>{{ qi.textoDB("total_tarjetas") }} ${{ total | number_format(0) }} COP</h3>
                <a class="boton_g" href="javascript:void(0)" style="display: none" data-pay>
                    <img class="sbx sbx1" src="/images/search-L.png"/>
                    <img class="sbx sbx2" src="/images/search-T.png"/>
                    <img class="sbx sbx3" src="/images/search-R.png"/>
                    <img class="sbx sbx4" src="/images/search-B.png"/>
                    <span>Pagar</span>
                </a>
                <a class="boton_g" href="{{ path('add_tarjeta') }}">
                    <img class="sbx sbx1" src="/images/search-L.png"/>
                    <img class="sbx sbx2" src="/images/search-T.png"/>
                    <img class="sbx sbx3" src="/images/search-R.png"/>
                    <img class="sbx sbx4" src="/images/search-B.png"/>
                    <span>Agregar Tarjeta</span>
                </a>
            </div>
        </div>

    </div>

{% endblock %}