{% set _entity_config = easyadmin_entity('Inventario') %}
{% extends _entity_config.templates.layout %}
{% block content_title %}
    Reportes
{% endblock %}
{% set ruta = app.request.get('_route') %}

{% block main %}
    {% block entity_form %}
        <h1>{{ titulo }}</h1>
        <br/><br/>
        <div class="row">
            <form action="{{ path(app.request.get("_route")) }}" method="get" id="rango" style="display: none">
                <input type="text" id="start" name="start">
                <input type="text" id="end" name="end">
                <input type="text" name="menuIndex" value="11">
                <input type="text" name="submenuIndex" value="6">
            </form>
            {% if ruta == 'reporte_diario' or ruta == 'reporte_mensual'  %}
                <div class="col-sm-12">
                    <div id="piechart" style="width: 100%; height: 500px;"></div>
                </div>
                <div class="col-sm-12">
                    <br>
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: auto;margin: 0 0 20px">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>
                    </div>
                    <br>
                </div>

            {% endif %}
            <div class="col-sm-3">
                <table class="table table-striped table-bordered" id="reporte_bar">
                    <thead>
                    <tr>
                        <td><strong>Fecha</strong></td>
                        <td><strong>Precio</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in reporte %}
                        <tr>

                            <td>{{ item.fecha }}</td>
                            <td>${{ item.precio | number_format(0,'.') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endblock entity_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
    {{ include('@EasyAdmin/default/includes/_select2_widget.html.twig') }}
{% endblock %}
