{% set _entity_config = easyadmin_entity('Inventario') %}
{% extends _entity_config.templates.layout %}
{% block content_title %}
    Reportes
{% endblock %}

{% block main %}
    {% block entity_form %}
{% set actual=0 %}
{% for pedido in pedidos %}
    {% if actual != pedido.plato.restaurante.id %}

        <h1 style='font-family: Helvetica, Arial, sans-serif;color: #2ca397'>Restaurante: {{ pedido.plato.restaurante.nombre}}</h1>
        <p style='font-family: Helvetica, Arial, sans-serif;'>Tiene Listapps para hoy {{ hoy }} (AAAA-MM-DD)</p><br>
        <table  cellspacing='0' cellpadding='10' border='0' style='border: 2px solid #2ca397;'>
            <thead style='background-color: #2ca397;color: #fff;font-family: Helvetica, Arial, sans-serif;'>
            <tr style='padding: 13px;text-align: left;'>
                <th style='padding: 13px;text-align: left;'>Id</th>
                <th style='padding: 13px;text-align: left;'>Plato</th>
                <th style='padding: 13px;text-align: left;'>Hora</th>
                <th style='padding: 13px;text-align: left;'>Cliente</th>
            </tr></thead>
            <tbody>
    {% endif %}

    <tr>
        <td style='padding: 13px;text-align: left;font-family: Helvetica, Arial, sans-serif;border-bottom: 2px solid #2ca397;'>{{ pedido.id }}</td>
        <td style='padding: 13px;text-align: left;font-family: Helvetica, Arial, sans-serif;border-bottom: 2px solid #2ca397;'>{{ pedido.plato }}</td>
        <td style='padding: 13px;text-align: left;font-family: Helvetica, Arial, sans-serif;border-bottom: 2px solid #2ca397;'>{{ pedido.fecha|date('H:i') }}</td>
        <td style='padding: 13px;text-align: left;font-family: Helvetica, Arial, sans-serif;border-bottom: 2px solid #2ca397;'>{{ pedido.usuario }}</td>
    </tr>
    {% if actual != pedido.plato.restaurante.id and actual != 0 %}
            </tbody>
        </table><br><br>
    {% endif %}
    {% set actual = pedido.plato.restaurante.id  %}
{% endfor %}
    {% endblock entity_form %}
{% endblock %}

{% block body_javascript %}
    {{ parent() }}
{% endblock %}