<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    {% set seo_arr = qi.seo(app.request.getUri(),url('homepage')) %}
    {% set seo = seo_arr.seo %}
    {% set url = seo_arr.url %}
    {% set homepage = seo_arr.homepage %}
    <title>{{ seo.titulo }}</title>
    <meta name="description" content="{{ seo.descripcion }}" />
    <link rel="image_src" href="{{ homepage~''~seo.imagen }}"/>
    {% if qi.getSettingDB('seo_autor') %}
        <meta name="author" content="{{ qi.getSettingDB('seo_autor') }}">
    {% endif %}
    <meta name="twitter:card" content="{{ seo.descripcion }}">
    {% if qi.getSettingDB('seo_twitter:site') %}
        <meta name="twitter:site" content="{{ qi.getSettingDB('seo_twitter:site') }}">
    {% endif %}
    <meta name="twitter:title" content="{{ seo.titulo }}">
    <meta name="twitter:description" content="{{ seo.descripcion }}">
    {% if qi.getSettingDB('seo_twitter:creator') %}
        <meta name="twitter:creator" content="{{ qi.getSettingDB('seo_twitter:creator') }}">
    {% endif %}
    <meta name="twitter:image" content="{{ homepage~''~seo.imagen }}">
    <meta property="og:title" content="{{ seo.titulo }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="{{ homepage~''~seo.imagen }}" />
    <meta property="og:description" content="{{ seo.descripcion }}" />
    {% if qi.getSettingDB('seo_og:site_name') %}
        <meta property="og:site_name" content="{{ qi.getSettingDB('seo_og:site_name') }}" />
    {% endif %}
    {% if qi.getSettingDB('seo_fb:admins') %}
        <meta property="fb:admins" content="{{ qi.getSettingDB('seo_fb:admins') }}" />
    {% endif %}



    <link rel="icon" href="{{ qi.imagen('favicon') }}">

    {% block stylesheets %}
        {% if app.environment != "dev" and false %}
            {% stylesheets
            'assets/vendor/font-awesome/web-fonts-with-css/css/fontawesome-all.css'
            output='css/iridianv2.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% else %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/web-fonts-with-css/css/fontawesome-all.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css?v=1.0.1') }}">
        {% endif %}
    {% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="canonical" href="{{ app.request.uri }}" />

</head>
<body>

    <div id="content" class="remodal-bg">
      {% include('@Home/Default/header.html.twig') %}
      {% block content %}{% endblock %}
      {% include('@Home/Default/footer.html.twig') %}
    </div>
    <div id="loader" class="hidden"></div>
    {% if app.environment != "dev" and false %}
        {% javascripts
            'assets/vendor/jquery/dist/jquery.min.js'
            'assets/vendor/jquery-ui/jquery-ui.min.js'
            'assets/vendor/lodash/dist/lodash.min.js'
            'assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js'
            'assets/vendor/slideout.js/dist/slideout.js'
            'assets/vendor/swiper/dist/js/swiper.min.js'
            'assets/vendor/shufflejs/dist/shuffle.min.js'
            'assets/vendor/jssocials/dist/jssocials.min.js'
            'assets/vendor/remodal/dist/remodal.min.js'
            'assets/vendor/rateyo/min/jquery.rateyo.min.js'
            'js/jquery-loading-overlay/src/loadingoverlay.min.js'
            'js/utils.js'
            'js/cart/carrito.js'
        output='js/iridian_3.js'
        filter='?uglifyjs2' %}
        <script src="{{ asset_url }}" async></script>
        {% endjavascripts %}
    {% else %}
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        {#<script src="{{ asset('js/cart/carrito.js') }}"></script>#}
    {% endif %}


    {% block javascripts %}{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
</body>
</html>