{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block content %}

<!-- CONTENT -->
<div class="subheader-block">
  <!-- CAROUSEL -->
  <div id="headerCarousel" class="carousel slide head-carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for item in qi.galeria('galeria-empresa') %}
      {% if loop.length > 1 %} 
        {% if loop.first %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
        {% else %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}"></li>      
        {% endif %}
      {% endif %}
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for item in qi.galeria('galeria-empresa') %} 
      {% if loop.first %}
      <div class="item active">              
      {% else %}
      <div class="item">        
      {% endif %} 
        <img src="{{ item.imagen }}" alt="Pollo Andino" class="carousel-img">
        <div class="carousel-caption">
          <h3>{{ item.resumen | raw }}</h3>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- / CAROUSEL -->
</div>
<div class="bg-white content-section-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">{{ qi.textoDB('empresa-title') }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="bg-red">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="uppercase text-center">
          {{ qi.textoDB('resena-historica') }}
        </h2>
      </div>
    </div>
    <div class="separator-red">
      <hr>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="block-wrapper-sm">
          <div class="about-block-img text-center"><img src="{{ qi.imagen('about-ico-1') }}" alt=""></div>
          <div class="about-block-text">
            <p>{{ qi.textoBigDB('empresa-block-1')|raw }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="block-wrapper-sm white-middle-line">
          <div class="about-block-img text-center"><img src="{{ qi.imagen('about-ico-2') }}" alt=""></div>
          <div class="about-block-text">
            <p>{{ qi.textoBigDB('empresa-block-2')|raw }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="block-wrapper-sm">
          <div class="about-block-img text-center"><img src="{{ qi.imagen('about-ico-3') }}" alt=""></div>
          <div class="about-block-text">
            <p>{{ qi.textoBigDB('empresa-block-3')|raw }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="block-wrapper-md">
          <h2 class="uppercase text-center red">{{ qi.textoDB('empresa-mision') }}</h2>
          <p class="mission-text">{{ qi.textoBigDB('empresa-mision-texto')|raw }}</p>
          <p class="text-center"><a href="{{ qi.archivo("mision-file") }}" target="_blank"  class="btn btn-lg btn-sq btn-red">{{ qi.textoDB('descargar-archivo') }} <i class="fa fa-download" aria-hidden="true"></i></a></p>

        </div>
      </div>
      <div class="col-sm-6 padding-0">
        <div class="mision-img-wrapper">
          <img src="{{ qi.imagen('mision-img') }}" alt="Image">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-grey-med">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="block-wrapper-md">
          <h2 class="uppercase text-center red">{{ qi.textoDB('empresa-vision') }}</h2>
          <p class="mission-text">{{ qi.textoBigDB('empresa-vision-texto')|raw }}</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="block-wrapper-md">
          <h2 class="uppercase text-center red">{{ qi.textoDB('empresa-promesa') }}</h2>
          <p class="mission-text">{{ qi.textoBigDB('empresa-promesa-texto')|raw }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-curve content-section-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-3">
        <a href="{{ path('politica') }}" class="btn btn-lg btn-sq btn-red btn-block">{{ qi.textoDB('politicas-privacidad') }}</a>
      </div>
      <div class="col-sm-3">
        <a href="{{ path('terminos_y_condiciones') }}" class="btn btn-lg btn-sq btn-red btn-block">{{ qi.textoDB('responsabilidad-social') }}</a>
      </div>
    </div>
  </div>
</div>
<!-- /CONTENT -->

   <!--
    <div class="bannerGeneral" style="background-image: url('{{ qi.imagen('banner-nosotros') }}')"></div>
        <div class="container">
            <div class="row" id="que">
                <div class="descripcionPag">
                    <h1 class="ttlGrandGris">{{ qi.textoDB('diferentes-ttl') }}</h1>
                    <hr class="ttlLine"/>
                    <a  class="scrollDown" href="#smooth">
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    <div id="smooth"></div>
    <div class="nosotrosFondo" style="background-image: url('{{ qi.imagen('fondo-nosotros') }}')" id="heho_en_la_naturaleza">
        <div class="nosotrosSlider">
            <div class="swiper-wrapper">
            {%  for item in qi.galeria('slider-nosotros') %}
                <div class="swiper-slide">
                    <h2 class="ttlGrandBl">{{ item.titulo }}</h2>
                    <p class="txtHelveLtBig">{{ item.resumen |raw }}</p>
                </div>
            {% endfor %}
            </div>
            <div class="swiper-button-next arrows"></div>
            <div class="swiper-button-prev arrows back"></div>
        </div>
        {#<img src="/images/nosotros-pie.png"/>#}
    </div>

    <div class="container">
        <div class="row center">
            <h2 class="ttlGrandGrisIt">{{ qi.textoDB('cuidado-ttl') }}</h2>
            {% for item in qi.galeria('puntos-cuidado') %}
                <div class="col-md-4 col-xs-12 cuidadoItem">
                    <img src="{{ item.imagen }}"/>
                    <h3 class="txtMedptima">{{ item.titulo }}</h3>
                    <hr class="ttlLine"/>
                    <p class="txtSmallOptimaIt">{{ item.resumen | raw }}</p>
                </div>
            {% endfor %}
            <p class="txtMedOptimaIt">{{ qi.textoDB('cuidado-txt') }}</p>
        </div>
    </div>
    {% if qi.settingDB('prensa') == "1" %}
        <div class="prensaFondo" id="prensa">
            <div class="container">
                <div class="row center">
                    <div class="col-md-12">
                        <h2 class="ttlGrandGris">{{ qi.textoDB('submenu2') }}</h2>
                        <hr class="ttlLine"/>
                        <div class="prensaSlider">
                            <div class="swiper-wrapper">
                                {%  for item in qi.galeria('slider-prensa') %}
                                    <a href="{{ item.link }}" target="_blank" class="item swiper-slide">
                                        <img src="{{ item.imagen | imagine_filter('image_blog')}}"/>
                                        <h4>{{ item.titulo }}</h4>
                                    </a>
                                {% endfor %}
                            </div>
                            <div class="swiper-button-next arrowsDark"></div>
                            <div class="swiper-button-prev arrowsDark back"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="preFondo" id="preguntasF">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="ttlGrandGris center">{{ qi.textoDB('submenu3') }}</h2>
                    <hr class="ttlLine"/>
                    {% for item in faqs %}
                        <div class="preCont">
                            <h3 class="txtHelveMedMed">{{ item.gen('pregunta',lc) }}</h3>
                            <p class="txtHelveLtReg">{{ item.gen('respuesta',lc) | nl2br }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>-->
{% endblock %}