{% extends 'lay_iridian.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <main role="main" class="section-padding page-content register">
        <form class="register__form" action="{{ path("fos_user_security_check") }}" method="post" id="form_login">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <h1 class="text-2 black text-center top-space bottom-space">BIENVENIDO A PLAZ MANAGER</h1>
            <div>
                {% for flashMessage in app.session.flashbag.get('error') %}
                    {{ flashMessage }}
                {% endfor %}
            </div>

            <label>{{ qi.textoDB('correo') }}</label>
            <input id="username" name="_username" required/>
            <label>{{ qi.textoDB('contraseña') }}</label>
            <input id="password" name="_password" type="password" required/>

            <div class="register__form-remember text-center">
                <input type="checkbox" class="styled-checkbox" id="remember_me" name="_remember_me" value="on">
                <label for="remember_me">{{ qi.textoDB('recordarme') }}</label>
            </div>

            <button class="register__form-submit cta-button cta-button--dark" type="submit">{{ qi.textoDB('ingresar') }}</button>
            <a href="{{ path('fos_user_resetting_request') }}" class="register__form-forgot">{{ qi.textoDB('¿Olvidaste tu nombre de usuario o contraseña?') }}</a>
        </form>
    </main>


{% endblock %}