{% extends 'lay_iridian.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% set lc = app.request.locale %}
{# @var user \AppBundle\Entity\User #}
{% set user = app.user %}
{% block content %}
    <div class="bannerGeneral" style="background-image: url('{{ qi.imagen('banner-nosotros') }}')">
        {#<img src="/images/nosotros-pie.png"/>#}
    </div>
    <div class="container">
        <div class="row">
            <div class="descripcionPag">
                <h1 class="ttlGrandGris">{{ qi.textoDB('Resumen de la compra') }}</h1>
                <hr class="ttlLine"/>
            </div >
        </div>
        <div class="row">
            {% include 'CarroiridianBundle:Default:pasos.html.twig' %}
            <div class="col-md-5 col-sm-12">
                <h3 class="ttlAzulMed contact-title">{{ qi.textoDB('Datos de envio') }}</h3>
                {{ form_start(form,{attr:{id:"form_envio"}}) }}
                {{ form_errors(form) }}
                    <div class="formPart1">
                        <label>{{ qi.textoDB('departamento') }}</label>
                        {{ form_errors(form.departamento) }}
                        {{ form_widget(form.departamento) }}
                        <label>{{ qi.textoDB('ciudad') }}</label>
                        {{ form_errors(form.ciudad) }}
                        {{ form_widget(form.ciudad) }}
                        <label>{{ qi.textoDB('dirección') }}</label>
                        {{ form_errors(form.direccion) }}
                        {{ form_widget(form.direccion,{ attr:{'data-dir':app.user.direccion} }) }}
                        <label>{{ qi.textoDB('adicionales') }}</label>
                        {{ form_errors(form.adicionales) }}
                        {{ form_widget(form.adicionales) }}
                        <label>{{ qi.textoDB('costo') }}</label>
                        <input type="text" class="form-control" readonly id="costo-envio" value=""/>
                    </div>
                    <div class="formPart2">
                        <div class="group">
                            <label>{{ qi.textoDB('precio') }}</label>
                            <input type="text" class="form-control" disabled id="info_old_sub"></input>
                        </div>
                        {% set id_user = '' %}
                        <div class="group">
                            <label>{{ qi.textoDB('impuesto') }}</label>
                            <input type="text" class="form-control" disabled id="info_iva"></input>
                        </div>
                        <div class="group">
                            <label>{{ qi.textoDB('costo') }}</label>
                            <input type="text" class="form-control" disabled id="info_envio"></input>
                        </div>
                        <div class="group">
                            <label>Total</label>
                            <input type="text" class="form-control" disabled id="info_total"></input>
                        </div>
                        <button class="btn btn-sq btn-lg btn-block btn-red btn" id="comprar">
                            <span>{{ qi.textoDB('Pagar') }}</span>
                        </button>
                        <a class="btnGreen" style="float: right;padding: 13px 4px;" href="{{ path('productos') }}">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                            <span>{{ qi.textoDB('volver') }}</span>
                        </a>
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="col-md-7 col-sm-12">
                <h3 class="ttlAzulMed contact-title">{{ qi.textoDB('Detalles') }}</h3>
                <table class="detalles table">
                    <thead>
                    <tr>
                        <th colspan="4">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set cu = app.request.locale | capitalize %}
                    {% set total = 0 %}
                    {% set cant = 0 %}
                    {% set discount = (descuento|length == 0) ? 0 : descuento["valor"]  %}
                    {% for id,tallas in carrito %}
                        {% for id_talla, item in tallas %}
                            {% if item.cantidad > 0 %}
                                {% set cant = cant + item.cantidad %}
                                {% set producto = ci.productoId(id) %}
                                {% set talla = ci.tallaId(id_talla) %}
                                    <tr data-id="{{ id }}" data-id-talla="{{ id_talla }}">
                                        <td>
                                            <img src="{{ (path_productos ~'/'~ producto.imagen) }}"/>
                                            <h4>{{ attribute(producto,'nombre' ~ cu) }}</h4>
                                            {#<p>REF.{{ producto.sku }}</p>#}
                                        </td>
                                        <td>
                                            <span class="textosAzules">{{ qi.textoDB('cant') }}</span>
                                            <span>{{ item.cantidad }}</span>
                                        </td>
                                        <td>
                                            <span>${{ item.precio | number_format(0) }}</span>
                                        </td>
                                        <td>
                                            <span>${{ (item.precio * item.cantidad) | number_format(0) }}</span>
                                            <a href="" class="eliminar" data-id="{{ id }}" data-id-talla="{{ id_talla }}" data-cant="-{{ item.cantidad }}"><img src="/images/canasta.png"/></a>
                                        </td>
                                    </tr>
                                {% set total = total + (item.precio * item.cantidad) %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                    <tr>
                        <td colspan="4">
                            <span><strong>SUBTOTAL: </strong> ({{ cant }} ITEMS)</span>
                            <span id="old-subtotal">${{ (total / 1.19) | number_format }}</span>
                            <br>
                            <span><strong>{{ qi.textoDB('Impuesto') }}: </strong></span>
                            <span id="carrito-iva"></span>
                            <br>
                            <span><strong>{{ qi.textoDB('Envio') }}: </strong></span>
                            <span id="costo-envio-span"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <span><strong>TOTAL</strong></span>
                            <span id="total-resultado"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" readonly id="total-carrito" value="{{ total }}" />
            </div>
        </div>
    </div>
{% endblock %}