{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set lc = app.request.locale %}
    {% set cu = app.request.locale | capitalize %}
    
<!-- CONTENT -->
<div class="bg-white content-section-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="product-detail shadow-block bg-white">
          <div class="row">
            <div class="col-sm-12">
              <div class="product-related">{{ qi.textoDB('producto-relacionado') }}: Alitas BBQ</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-7"> 
              <!-- CAROUSEL -->
              <div id="productCarousel" class="carousel slide product-carousel" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% for item in imagenes %}
                  {% if loop.length > 1 %} 
                    {% if loop.first %}
                    <li data-target="#productCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
                    {% else %}
                    <li data-target="#productCarousel" data-slide-to="{{ loop.index0 }}"></li>      
                    {% endif %}
                  {% endif %}
                  {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  {% for item in imagenes %} 
                  {% if loop.first %}
                  <div class="item active">              
                  {% else %}
                  <div class="item">        
                  {% endif %} 
                    <img src="{{ item }}" alt="{{ producto.gen('nombre',lc) }}" class="product-image">
                  </div>
                  {% endfor %}
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#productCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#productCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

              <!-- / CAROUSEL -->
            </div>
            <div class="col-sm-5">
              <div class="product-description">
                <h1 class="red">{{ producto.gen('nombre',lc) }}</h1>
                <h3 class="grey-med">{{ producto.gen('ingredientes',lc)|raw }}</h3>
                <p>{{ producto.gen('descripcion',lc)|raw }}</p>
                {% if qi.settingDB("mostrar_carrito") == "1" %}
                    <p class="text-right product-price">${{ producto.precio | number_format }}</p>


                    {% set cant = 0 %}

                    {% for item in producto.inventarios %}
                        {% set cant = item.cantidad + cant %}
                    {% endfor %}
                    {% set tallas = ci.tallasProducto(producto.id) %}
                    {% if cant > 0 %}
                        <p class="text-right product-available">{{ qi.textoDB('producto-disponibilidad') }} <span class="product-av av"><i class="fa fa-circle" aria-hidden="true"></i></span></p>
                        <p class="text-right product-quantity">{{ qi.textoDB('producto-cantidad') }}
                            <select  onchange="seleccionarCantidadProducto(this,'comprar_prod')">
                                {% for i in 1..cant %}
                                    <option data-value="{{ i }}"  value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select></p>
                        <form>
                            <select id="select-talla" style="display: none">
                                {% for item in tallas %}
                                    {% set active = '' %}
                                    {% if loop.index == 1 %}
                                        {% set active = 'active' %}
                                    {% endif %}
                                    <option data-value="{{ item.id }}" class="{{ active }}" value="{{ item.id }}">{{ item.nombre }}</option>
                                {% endfor %}
                            </select>

                        </form>
                    {% else %}
                        <p class="text-right product-available">{{ qi.textoDB('producto-disponibilidad') }} <span class="product-av av" style="color:red!important;"><i class="fa fa-circle" aria-hidden="true"></i></span></p>
                    {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
            {% if qi.settingDB("mostrar_carrito") == "1" %}
             {% if cant > 0 %}
                 <input id="comprar_prod" type="submit" class="add_talla btn btn-sq btn-red btn-lg btn-block" data-id="{{ producto.id }}" data-cant="1" value="{{ qi.textoDB('agregar-carro') }}">
              {% endif %}
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section-block bg-curve">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>{{ qi.textoDB('recetas-vinculadas') }}</h1>
        </div>
      </div>
      <div class="row">
          {% for item in producto.recetas %}
              <div class="col-sm-4">
                <!-- Sidebar block -->
                <div class="recipe-block-sm bg-white shadow-block">
                  <div class="row">
                    <div class="col-sm-6">
                      <h4>{{ item.gen("titulo",lc) }}</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                      <span class="recipe-date">
                        {{ item.fecha | date('d/m/Y') }}
                      </span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <p><img src="{{ path_blogs~'/'~item.image  }}" alt="Image" class="img-responsive"></p>
                      <p>{{ item.gen('contenido',lc)|striptags|slice(1,100) }}...</p>
                      <div class="text-right"><a href="{{ path('post', {'id': item.id, 'name':qi.slugify(item.gen('titulo',lc))} ) }}" class="btn btn-sq btn-md btn-red btn-half">Ver más</a></div>
                    </div>
                  </div>
                </div>
                <!-- / Sidebar block -->
              </div>
          {% endfor %}
        </div>
    </div>
  </section>
<!-- /CONTENT -->
<!--
    <div class="container">
        <div class="row">

                <div class="col-lg-4">

                        <h2>{{ producto.gen('nombre',lc) }}</h2>
                        {{ producto.gen('descripcion',lc)|raw }}
                        <div class="desp">
                            <a class="button">{{ qi.textoDB('product_size_fit') }}</a>
                        </div>
                        <hr>
                        <h3>${{ producto.precio | number_format }}</h3>
                        {% set cant = 0 %}
                        {% for item in producto.inventarios %}
                            {% set cant = item.cantidad + cant %}
                        {% endfor %}
                        {% set tallas = ci.tallasProducto(producto.id) %}
                        {% if tallas | length > 0 %}
                            <div class="contenedor talla">
                                <h4>{{ qi.textoDB('product_size') }}</h4>
                                <form>
                                    <input type="hidden" id="select-talla" value="{{ (tallas|first).id }}">
                                </form>
                            </div>
                            <ul class="size">
                                {% for item in tallas %}
                                    {% set active = '' %}
                                    {% if loop.index == 1 %}
                                        {% set active = 'active' %}
                                    {% endif %}
                                    <li><a data-value="{{ item.id }}" class="{{ active }}">{{ item.nombre }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if cant > 0 %}
                        <a data-id="{{ producto.id }}" data-cant="1" class="add_talla">
                                <span>{{ qi.textoDB('producto_agregar') }}</span>
                        </a>
                        {% endif %}
                        {% if in_wish is defined %}
                                {% if in_wish == false %}
                                        <a href="{{ path("add_wish", {"id" : producto.id}) }}" class="button button2 button3 add_wishlist"><span>{{ qi.textoDB('product_wish') }}</span><i class="fa fa-heart" aria-hidden="true"></i></a>
                                    {% else %}
                                        <a href="{{ path("wishlist") }}" class="button button2 button3 add_wishlist"><span>{{ qi.textoDB('product_in_wish') }}</span><i class="fa fa-heart" aria-hidden="true"></i></a>
                                {% endif %}
                        {% endif %}

                        <div class="solcial_product">
                            <h4>{{ qi.textoDB('product_share_this') }}</h4>
                            {% for item in qi.galeria('social_product') %}
                                <a href=""><img alt="" src="{{ item.imagen }}"/></a>
                            {% endfor %}
                        </div>

                </div>

                <div class="col-lg-8">
                    {% for item in imagenes %}
                        <div class="item">
                            <img src="{{ item }}"/>
                        </div>
                    {% endfor %}
                </div>

        </div>
    </div>-->

{#{{ include('@Zapatos/Default/interesting_products.html.twig', { 'producto': producto } ) }}#}

{% endblock %}

{% block javascripts %}
    <script>
        fbq('track', 'ViewContent', {
            content_ids: ['{{ producto.id }}'],
            content_type: 'product',
            value: '{{ producto.precio }}',
            currency: 'COP'
        });
    </script>


{% endblock %}