{% extends 'lay_iridian.html.twig' %}

{% block content %}
    {% set categoria = app.request.get('categoria') %}
    {% set search = app.request.get('search') %}
    {% set categorias = ci.categorias() %}
    {% set lc = app.request.locale() %}
    {% set productos = ci.productos(categoria, null, search) %}
    {% set lc = app.request.locale %}
    {% set cu = app.request.locale | capitalize %}

    {% set fondo = qi.imagen('banner-nosotros') %}
    {% set titulo = qi.textoDB('productos') %}
    {% set resumen = qi.textoDB('productos-txt') %}
    {% for item in categorias %}
        {% if item.id == categoria %}
            {% set titulo = item.nombre %}
            {% set resumen = item.resumen %}
            {% set fondo = path_productos~'/'~item.imagen %}
        {% endif %}
    {% endfor %}
    
<!-- CONTENT -->
<div class="bg-curve content-section-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">{{ qi.textoDB('productos-title') }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <aside>
        <p class="select-box">
          <select name="" id="">
            <option value="">{{ qi.textoDB('productos-filtros-1') }}</option>
          </select>
        </p>
        <h3 class="red">{{ qi.textoDB('productos-lineas') }}</h3>
        <ul class="product-category-list">
          {% for item in categorias %}
              {% set active = '' %}
              {% if item.id == categoria %}
                  {% set active = 'active' %}
              {% endif %}
              <li><a href="{{ path('productos_por_categoria', { categoria: item.id, nombre: qi.slugify(item.nombre) } ) }}" class="{{ active }}">{{ item.nombre }}</a></li>
          {% endfor %}
          <!-- <li><a href="#">{{ qi.textoDB('productos-linea-1') }}</a></li>
          <li><a href="#">{{ qi.textoDB('productos-linea-2') }}</a></li>
          <li><a href="#">{{ qi.textoDB('productos-linea-3') }}</a></li>
          <li><a href="#">{{ qi.textoDB('productos-linea-4') }}</a></li>
          <li><a href="#">{{ qi.textoDB('productos-linea-5') }}</a></li>
          <li><a href="#">{{ qi.textoDB('productos-linea-6') }}</a></li>
          <li><a href="#">{{ qi.textoDB('productos-linea-7') }}</a></li>-->
        </ul>
        </aside>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-offset-9 col-sm-3 text-right">
            <form action="{{ path('busca_productos') }}">
              <i class="fa fa-search ico-search" aria-hidden="true"></i>
              {% if search is defined %}
                  <input type="search"  class="inputSubmit form-field search" name="search" value="{{ search }}">
              {% else %}
                  <input type="search"  class="inputSubmit form-field search" name="search">
              {% endif %}
            </form>
          </div>
        </div>
        <div class="row">
          <!-- Product loop -->
          {% for item in productos %}
            {% set c_agotado = '' %}
            {% if item.cantidad == 0 %}
                {% set c_agotado = 'agotado' %}
            {% endif %}
            {% if loop.index % 3 == 1 %}
              </div><div class="row">
            {% endif %}
            <div class="col-sm-4">
              <div class="product-list-wrapper  {{ c_agotado }} grid-item c_{{ item.colores | replace({' ':' c_'}) }} ca_{{ item.categoria }}">
                <div class="product-list-image"><a href="{{ path('product',{id:item.id, nombre: qi.slugify(item.nombre)}) }}"><img src="{{ item.imagen }}" alt=""></a>
                </div>
                <div class="product-list-content">
                  <h3 class="red uppercase">{{ item.nombre }}</h3>
                  <p>{{ item.ingredientes | raw }}</p>
                  <p class="text-right zoom-icon"><a href="{{ path('product',{id:item.id, nombre: qi.slugify(item.nombre)}) }}" class="red-link"><i class="fa fa-search-plus" aria-hidden="true"></i></a></p>
                </div>
              </div>
            </div>
            {{ include('@Carroiridian/Default/modal_product.html.twig') }}
          {% endfor %}
          <!-- Product loop -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /CONTENT -->

    <!--
    <div class="bannerGeneral" style="background-image: url('{{ fondo }}')">
        {#<img src="/images/nosotros-pie.png"/>#}
    </div>
    <div class="container productos">
        <div class="row">
            <div class="col-md-12">
                <div class="descripcionPag">
                    <h1 class="ttlGrandGris">{{ titulo | capitalize }}</h1>
                    <hr class="ttlLine"/>
                    <p class="descLinea">{{ resumen }}</p>
                </div >
                {#{% include 'CarroiridianBundle:Default:pasos.html.twig' %}#}
            </div>
            <div class="col-md-12">
                <ul class="menuSlider">
                    {% for item in categorias %}
                        {% set active = '' %}
                        {% if item.id == categoria %}
                            {% set active = 'active' %}
                        {% endif %}
                        <li><a href="{{ path('productos_por_categoria', { categoria: item.id, nombre: qi.slugify(item.nombre) } ) }}" class="{{ active }}">{{ item.nombre }}</a></li>
                    {% endfor %}
                </ul>
                <div class="banner_home2 prodSliderCart2">
                    <div class="">
                        {% for item in productos %}
                            {% set c_agotado = '' %}
                            {% if item.cantidad == 0 %}
                                {% set c_agotado = 'agotado' %}
                            {% endif %}
                            <div class="item  {{ c_agotado }} grid-item c_{{ item.colores | replace({' ':' c_'}) }} ca_{{ item.categoria }} ">
                                <div class="prodSliderImg">
                                    <a  data-id="{{ item.id }}" data-cant="1" class="" href="#productoInfo_{{ item.id }}">
                                        <img src="{{ item.imagen }}" class="imgHeight"/>
                                    </a>
                                    {% if item.nuevo %}
                                        <span class="tagNew">{{ qi.textoDB('nuevo') }}</span>
                                    {% endif %}
                                </div>
                                <div class="prodSliderInfo">
                                    <h3 class="ttlHelveGris">{{ item.nombre }}</h3>
                                    <div class="descripcionesProductos">{{ item.descripcion | raw }}</div>
                                    <form>
                                        <input type="hidden" id="select-talla" value="1">
                                    </form>
                                    <a  data-id="{{ item.id }}" data-cant="1" class="btnGris" href="#productoInfo_{{ item.id }}">
                                        <span>${{ item.precio | number_format(0) }}</span>
                                        <span>
                                            {{ qi.textoDB('mas_info') }}
                                            <img src="/images/blueCart.png"/>
                                        </span>
                                    </a>

                                    {#<div class="oos"><h3>{{ qi.textoDB('store_out_stock') }}</h3></div>#}
                                </div>
                            </div>
                            {{ include('@Carroiridian/Default/modal_product.html.twig') }}
                        {% endfor %}
                    </div>
                </div>
                <div class="buscarHome">
                    <form action="{{ path('busca_productos') }}">
                        <label for="search">{{ qi.textoDB('buscar-prod') }}
                            {% if search is defined %}
                                <input type="search"  class="inputSubmit" name="search" value="{{ search }}">
                            {% else %}
                                <input type="search"  class="inputSubmit" name="search">
                            {% endif %}
                        </label>
                    </form>
                </div>
                {#<ul class="filter">
                <h2>{{ qi.textoDB('filter_cat') }}</h2>
                {% for item in ci.categorias() %}
                    {% set clase_cat = '' %}
                    {% if categoria %}
                        {% if categoria == item['id'] %}
                            {% set clase_cat = 'active' %}
                        {% endif %}
                    {% endif %}
                    <li>
                        <a class="{{ clase_cat }}" href="{{ path('productos_por_categoria',{'categoria': item['id'] ,'nombre': qi.slugify(item['nombre'])}) }}">{{ item['nombre'] }}</a>
                    </li>
                {% endfor %}
            </ul>#}
            </div>
        </div>
    </div>-->
{% endblock %}
