{% extends 'lay_iridian.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main role="main" class="section-padding page-content register">
        {{ form_start(form, {'method': 'post', 'action': '#forms', 'attr': {'class': 'register__form','id': 'form_registro'}}) }}
            {{ form_errors(form) }}

            <h1 class="text-2 black text-center top-space bottom-space">HOLA, BIENVENIDO</h1>

            {#<div class="fb-login-button" data-width="200" data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>#}

            <a href="" class="register__login-btn register__login-btn--fb" id="facebook">Registrate con facebook</a>

            <a href="" class="register__login-btn register__login-btn--plus" id="google">Registrate con Google+</a>

            <div class="register__division text-center"><span>Ó haz una cuenta con Listapp</span></div>

            <label>Nombre</label>
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}

            {#<label>Apellido</label>
            {{ form_errors(form.apellidos) }}
            {{ form_widget(form.apellidos) }}#}

            <label>Correo Electronico</label>
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}

            <label>Teléfono</label>
            {{ form_errors(form.telefono) }}
            {{ form_widget(form.telefono) }}

            <label>Contraseña</label>
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}

            <label>Repita la contraseña</label>
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}

            <button class="register__form-submit cta-button cta-button--dark" type="submit">{{ qi.textoDB('listo') }}</button>

            <a href="{{ path('terminos_y_condiciones') }}" class="register__form-terms text-center">Conoce nuestros términos y política de privacidad</a>
        {{ form_end(form) }}
    </main>


{% endblock %}