{% extends 'lay_iridian.html.twig' %}


{% block content %}
    <div class="banner_tarjeta">
        <div class="swiper-wrapper">
            {% for item in qi.galeria('tarjeta-banner') %}
                <div class="item swiper-slide" style="background-image: url({{ item.imagen }})">
                    <div class="bannerContent cont_tarjeta">
                        <h1 class="ttlGrandGris">{{ item.titulo }}</h1>
                        <p class="txtHelveLtBig">{{ item.resumen | raw }}</p>
                        <a class="btnGreen" href="#unete">{{ qi.textoDB('leer-mas') }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {#<img src="/images/franja-blanca.png" class="franja"/>#}
        <div class="swiper-pagination"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="descripcionPag2">
                <h1 class="ttlGrandGris">{{ qi.textoDB('obten') }}</h1>
                <hr class="ttlLineLt"/>
            </div>
            {% for item in qi.galeria('tarjeta-beneficios') %}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="beneficio">
                        <img src="{{ item.imagen }}"/>
                        <h3>{{ item.titulo }}</h3>
                        <hr class="ttlLineLt"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="tarjetaFondo" id="unete">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titulos">
                        <h2 class="ttlRounded">{{ qi.textoDB('unete') }}</h2>
                        <h3>{{ qi.textoDB('condiciones') }}</h3>
                    </div>
                    <div class="table-responsive">
                        {{ qi.textoBigDB('tabla_unete') | raw }}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titulos">
                    <h2 class="ttlRounded blue">{{ qi.textoDB('como-categoria') }}</h2>
                </div>
                <div class="table-responsive">
                    {{ qi.textoBigDB('tabla_acceder') | raw }}
                </div>
            </div>
        </div>
    </div>
    <div class="preFondo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="txtHelveLtBig center">{{ qi.textoDB('programa-ttl') }}</h2>
                    <hr class="ttlLine"/>
                    <div class="preCont">
                        {{ qi.textoBigDB('tarjeta_faq') | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}