{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/aliados.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main role="main" class="section-padding page-content text-center aliados">
        <h1 class="text-1 aliados__title">{{ qi.textoDB('aliados_title') }}</h1>
        <div class="aliados__item-container block-content">
            {% for item in restaurantes %}
                <a class="aliados__item" href="{{ path('mapa') }}"><img class="aliados__item-img" src="{{ item.foto }}" /></a>
            {% endfor %}
        </div>
    </main>
{% endblock %}
