<div class="remodal" data-remodal-id="book-modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <form class="restaurants__detail">
        <input type="hidden" name="web" value="1" >
        <img class="restaurants__detail-icon bottom-space" src="/images/package.png" alt="listapp package" />
        <p class="text-2 black bottom-space">{{ qi.textoDB('modal_book_title') }}</p>
        <div class="grid grid--bleed grid--justify-space-around restaurants__detail-grid">
            <div class="grid__col-12 grid__col-sm-6">
                <div><img class="restaurants__detail-img app-img" src="" alt="Listapp restaurant" /></div>
            </div>
            <div class="grid__col-12 grid__col-sm-6 text-left">
                <div>
                    <p class="text-4 black app-plate"></p>
                    <p class="text-5 black bottom-space-xs app-pick-up-time" id="hora_rec"></p>
                    <p class="restaurants__detail-text bottom-space app-date"></p>

                    <p class="restaurants__detail-text app-name"></p>
                    <p class="restaurants__detail-text app-address"></p>
                    <div class="rateyo bottom-space-xl app-star-rating"></div>
                </div>
            </div>
            <div class="grid__col-12"><button data-remodal-action="close" class="cta-button bold app-book">{{ qi.textoDB('listo') }}</button></div>

            <div class="grid__col-12"><p class="top-space-xs text-center">Conoce nuestra politica de cancelación <a target="_blank" class="link" href="{{ path('terminos_y_condiciones') }}">aquí.</a></p></div>
        </div>
    </form>
</div>