{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/planes.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main role="main" class="section-padding text-center planes block-content">
        <h1 class="text-2 bottom-space-xs">{{ qi.textoDB('planes_title') }}</h1>
        <h1 class="text-5">{{ qi.textoDB('planes_subtitle') }}</h1>
        <form id="new_tarjeta" method="post">
            <input type="hidden" name="web" id="web" value="{{deviceSessionId}}"/>
            <div class="planes__item-container top-space bottom-space">
                {% for item in planes %}
                    <div class="planes__item">
                        <div>
                            <p class="planes__item-title">{{ item.numPedidos }}</p>
                            <p class="planes__item-subtitle medium">{{ item.dias }} dias</p>
                            <p class="planes__item-value medium">$ {{ item.precio | number_format }}</p>
                            <input id="servicio_listapp" value="{{ qi.settingDB("servicio_listapp") }}" type="hidden">
                            <input id="fee_listapp" value="{{ qi.settingDB("fee_activacion") }}" type="hidden">
                            <button class="cta-button cta-button--dark cta-button--auto cta-selector plan {{ loop.index == 0 ? 'cta-selector--active' : '' }}" data-id="{{ item.id }}" data-precio="{{ item.precio }}" data-servicio="{{ item.precioServicio }}">{{ qi.textoDB('seleccionar') }}
                                <input class="input-cover" name="plan" value="{{ item.id }}" type="radio" {{ loop.index == 0 ? 'checked' : '' }}/>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="desc">
                <p class="text-2 bottom-space">{{ qi.textoDB('planes_block_title') }}</p>
                <div class="grid grid--justify-center grid--align-start">
                    <div class="grid__col-12 grid__col-xs-6  text-left">
                        {{ qi.textoBigDB('planes_block_item_1') | raw  }}
                    </div>
                    <div class="grid__col-12 grid__col-xs-6  text-left">
                        {{ qi.textoBigDB('planes_block_item_2') | raw  }}
                    </div>
                    <div class="grid__col-12 grid__col-xs-6  text-left">
                        {{ qi.textoBigDB('planes_block_item_3') | raw  }}
                    </div>
                    <div class="grid__col-12 grid__col-xs-6 text-left">
                        {{ qi.textoBigDB('planes_block_item_4') | raw  }}
                    </div>
                    <div class="grid__col-12 grid__col-xs-6 text-left">
                        {{ qi.textoBigDB('planes_block_item_5') | raw  }}
                    </div>
                    <div class="grid__col-12 grid__col-xs-6 text-left">
                        {{ qi.textoBigDB('planes_block_item_6') | raw  }}
                    </div>
                </div>
            </div>

            <div class="grid grid--justify-center" id="cont_tarjeta">
                <div class="grid__col-12 grid__col-md-7">
                    <div class="tarjetas">
                        <p class="text-3 bottom-space">TARJETAS GUARDADAS</p>
                        <div class="inputGroup" id="inputGroup">
                            <input id="radio1" name="tarjeta" type="radio"/>
                            <label for="radio1"></label>
                        </div>
                        <div class="grid__col-6 grid__col-md-3" id="cuotas">
                            <label for="cuotas-tarjeta">{{ qi.textoDB('tc_cuotas') }}</label>
                            <select name="cuotas_old">
                                {% for i in 1..36 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <p class="text-3 bottom-space">{{ qi.textoDB('planes_payment_title_1') }}</p>
                    <label for="titular-tarjeta">Nombre del titular de T.C.</label>
                    <input type="text" name="titular" id="titular" />

                    <label for="titular-tarjeta">Número de documento.</label>
                    <input type="text" name="numDoc" id="num_doc"/>

                    <label for="titular-tarjeta">Número de celular.</label>
                    <input type="text" name="numCel" id="num_cel"/>

                    <label for="numero-tarjeta">{{ qi.textoDB('tc_numero') }}</label>
                    <input type="text" name="numeroTarjeta" id="num_tarjeta"/>

                    <div class="grid grid--bleed">
                        <div class="grid__col-6 grid__col-md-3 input-side-space">
                            <label for="cvc-tarjeta">{{ qi.textoDB('tc_cvc') }}</label>
                            <input type="text" name="cvv" id="ccv"/>
                        </div>

                        <div class="grid__col-6 grid__col-md-3">
                            <label for="cuotas-tarjeta">{{ qi.textoDB('tc_cuotas') }}</label>
                            <select name="cuotas_new">
                                {% for i in 1..36 %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="grid__col-12">
                            <label for="fecha-expiracion-tarjeta">{{ qi.textoDB('tc_fecha_expiracion') }}</label>
                            <input type="hidden" name="fecha" placeholder="YYYY/MM" id="exp_date"/>
                        </div>


                        <div class="grid__col-6 grid__col-md-3 input-side-space">
                            <label for="cvc-tarjeta">{{ qi.textoDB('Mes') }}</label>

                            <select name="mes" id="mes">
                                {% for i in ['01','02','03','04','05','06','07','08','09','10','11','12'] %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="grid__col-3 grid__col-md-3">
                            <label for="cuotas-tarjeta">{{ qi.textoDB('Año') }}</label>
                            <select name="anio" id="anio">
                                {% for i in ('now'|date('Y')) .. ('now'|date_modify("+20 year")|date('Y')) %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <label for="direccion-tarjeta">{{ qi.textoDB('tc_direccion') }}</label>
                    <input type="text" name="direccion" />
                </div>
                <div class="grid__col-12 grid__col-md-5 border planes__checkout-resume">
                    <p class="text-3 bottom-space">{{ qi.textoDB('planes_payment_title_2') }}</p>
                    <div class="grid grid--bleed">
                        <div class="grid__col-7">
                            <p class="text-4 color-grey-2" id="cant">Listapps</p>
                        </div>
                        <div class="grid__col-5">
                            <p class="text-4 color-grey-2" id="precio">$</p>
                        </div>
                        <div class="grid__col-7">
                            <p class="text-4 color-grey-2">8% imp. consumo</p>
                        </div>
                        <div class="grid__col-5">
                            <p class="text-4 color-grey-2" id="impo">$</p>
                        </div>
                        <div class="grid__col-7">
                            <p class="text-4 color-grey-2">Servicio Listapp.</p>
                        </div>
                        <div class="grid__col-5">
                            <p class="text-4 color-grey-2" id="servicio">$</p>
                        </div>
                        <div class="grid__col-7 class_fee">
                            <p class="text-4 color-grey-2">Fee de activación</p>
                        </div>
                        <div class="grid__col-5 class_fee">
                            <p class="text-4 color-grey-2">${{ qi.settingDB("fee_activacion")|number_format }}</p>
                        </div>
                        <div class="grid__col-7">
                            <p class="text-4 color-grey-2">19% IVA</p>
                        </div>
                        <div class="grid__col-5">
                            <p class="text-4 color-grey-2" id="impo2">$</p>
                        </div>
                        <div class="grid__col-12 codigo_cont">
                            <div>
                                <a href="javascript:codigoForm()" class="text-2 register__form-forgot .bottom-space-xs codigo_text">{{ qi.textoDB("tengo_codigo") }}</a>
                                <div id="form_codigo" style="display: none;margin-top: 10px" class="grid__col-10 top-space">
                                    <input type="text" value="" name="cupon_id" id="cupon"/>
                                    <a href="javascript:validarCupon()" class="cta-button cta-button--dark cta-button--auto">{{ qi.textoDB("validar_codigo") }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col-7">
                            <p class="text-3 color-black">TOTAL:</p>
                        </div>
                        <div class="grid__col-5">
                            <p class="text-3 color-black" id="total">$</p>
                        </div>
                    </div>
                    <p class="text-5 top-space bottom-space-xs color-grey-1">{{ qi.textoDB('planes_payment_terms') }}
                        <a class="register__form-forgot" href="{{ path("politicas") }}" target="_blank">{{ qi.textoDB("politicas") }}</a></p>
                    <input type="hidden" name="email" id="email" value="">
                    <input type="hidden" name="uid" id="uid" value="">
                    <input type="hidden" name="tipoTarjeta" id="tipo_tarjeta" value="">
                    <input type="hidden" name="tipoDoc" id="tipo_doc" value="CEDULA">
                    <input type="hidden" name="total" id="precio_total" value="">
                    <input type="hidden" name="impuesto" id="impuesto" value="">

                    <button class="cta-button cta-button--dark cta-button--auto" type="submit">{{ qi.textoDB('inscribirme') }}</button>
                </div>
            </div>
        </form>

        {#<div class="top-space-xl"><a class="cta-button bold" href="#confirmation-modal">BOTON TEMPORAL PARA ABRIR CONFIRMATION MODAL</a></div>#}
        {% include('@Home/Default/modalConfirmation.html.twig') %}
    </main>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://maf.pagosonline.net/ws/fp/tags.js?id={{deviceSessionId}}80200"></script>
    <noscript>
        <iframe style="width: 100px; height: 100px; border: 0; position: absolute; top: -5000px;" src="https://maf.pagosonline.net/ws/fp/tags.js?id={{deviceSessionId}}80200"></iframe>
    </noscript>
{% endblock %}
