{% set ruta = app.request.get('_route') %}
{% set params = app.request.attributes.get('_route_params') %}
{% set params = params |slice(1) %}
{% set lc = app.request.locale %}

<!-- FOOTER -->
<footer class="section-padding footer text-center">
    <div class="page-content">
    </div>
</footer>