{% set ruta = app.request.get('_route') %}
{% set params = app.request.attributes.get('_route_params')  %}
{% set params = params |slice(1) %}
{% set lc = app.request.locale %}
{% set categoria = app.request.get('categoria') %}


<header id="menu" class="menu" role="Navigation">
    <img class="menu__mobile-menu-btn md-hidden" src="/images/mobile-menu-btn.svg"  alt="mobile menu buttonl"/>

    <div class="page-content menu__content">
        <a class="menu__logo" href="{{ path('homepage') }}"><img src="/images/plaz.png"  alt="logo"/></a>
    </div>
</header>
<!-- / HEADER -->
