{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}

    <!-- CONTENT -->
    <main role="main" class=" text-center home">
    </main>

    <!-- /CONTENT -->

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}