{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/map.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}

    <!-- CONTENT -->
    <main role="main" class="section-padding restaurants__container bg-grey-3">
        <h1 class="bold color-black text-center restaurants__header" id="titulo">¡LA COCINA ESTA ABIERTA!</h1>
        <div class="restaurants">
            <button class="fas restaurants__toggle-list-btn"></button>
            <div class="restaurants__list-container">
                <div class="scrollbar">
                    <div id="restaurants__list" class="restaurants__list"></div>
                </div>
            </div>
            <div id="restaurants__map" class="restaurants__map"></div>
        </div>
        {% include('@Home/Default/restaurantDetail.html.twig') %}
        {% include('@Home/Default/bookModal.html.twig') %}
    </main>
    <!-- /CONTENT -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/mapStyleArray.js') }}"></script>
    <script src="{{ asset('js/restaurantItemTemplate.js') }}"></script>
    <script src="{{ asset('js/mapApp.js?v=3') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9ABsrTPJd0QCfcBjv3MjWve5aHlq46pA&callback=initMap"></script>
{% endblock %}