{% set ruta = app.request.get('_route') %}
{% set params = app.request.attributes.get('_route_params')  %}
{% set params = params |slice(1) %}
{% set lc = app.request.locale %}
{% set categoria = app.request.get('categoria') %}


<!-- mobile HEADER -->

<header id="mobile-menu" class="mobile-menu text-center" role="Navigation">
</header>
