<div class="remodal bg-green" data-remodal-id="confirmation-modal" role="dialog" aria-labelledby="confirmationModalTitle" aria-describedby="confirmationModalDescription" data-remodal-options="hashTracking: true">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <div class="confirmation text-center">
        <img class="confirmation__img" src="/images/package.png" alt="listapp package" />
        <p class="text-2 color-white top-space text-left">{{ qi.textoDB('modal_confirmation_title') }}</p>
        <p class="text-4 color-white bold bottom-space-xl text-left">{{ qi.textoDB('modal_confirmation_text') }}</p>

        <a class="cta-button cta-button--white bold" href="{{ path('mapa') }}">{{ qi.textoDB('modal_confirmation_cta_text') }}</a>
    </div>
</div>