{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/perfil.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main role="main" class="text-center perfil">
        <div class="perfil__banner"
            style="background-image: url(/images/food-plate.jpg)">
            <img class="perfil__banner-curtain" src="/images/curtain-blue.png" alt="listapp" />

            <div class="perfil__banner-content text-center">
                <div class="perfil__banner-img">
                    <img src="/images/profile-pic.png" alt="listapp" />
                </div>
                <p class="text-2 bold color-white perfil__banner-name top-space-xs" id="nombre"></p>
            </div>
        </div>
        <div class="perfil__item-container">
            <div class="bg-grey-3 perfil__item">
                <p class="perfil__item-title">Mi Plan Listapp</p>

                <div>
                    <p class="perfil__item-number" id="por_mes"></p>
                    <p class="text-4">{{ qi.textoDB('perfil_col_1_title') }}</p>
                </div>
            </div>
            <div class="bg-grey-3 perfil__item">
                <p class="perfil__item-title">{{ qi.textoDB('perfil_col_2_title') }}</p>

                <div>
                    <p class="perfil__item-number" id="restantes"></p>
                    <p class="text-4" id="hasta"></p>
                </div>
            </div>
            <div class="bg-grey-3 perfil__item perfil__item--next">
                <p class="perfil__item-title">{{ qi.textoDB('perfil_col_3_title') }}</p>
                <div>
                    <p class="text-2 black" id="nombre_plato"></p>
                    <p class="text-3 black" id="hora_pedido"></p>
                    <p class="text-3 black" id="id_pedido"></p>
                    <p class="text-4" id="fecha_pedido"></p>


                    <p class="text-4 top-space" id="restaurante_nombre"></p>
                    <p class="text-4" id="restaurante_direccion"></p>
                    <div class="rateyo"  id="restaurante_calificacion" data-rateyo-rating=""></div>
                </div>
            </div>
        </div>

        <p class="top-space-xl bottom-space text-3 text-center color-green">{{ qi.textoDb('hashtag') }}</p>
    </main>
{% endblock %}
