{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/planes.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <main role="main" class="section-padding text-center planes block-content">
        <h1 class="text-2 bottom-space-xs">{{ qi.textoDB('planes_title') }}</h1>
        <h1 class="text-5">{{ qi.textoDB('planes_subtitle') }}</h1>
        <div class="planes__item-container top-space bottom-space">
            <div class="planes__item">
                <div>
                    <p class="planes__item-title">5</p>
                    <p class="planes__item-subtitle medium">x mes</p>
                    <p class="planes__item-value medium">$ 90,000</p>
                    <a href="{{ path('checkout', {'package-type': '5-x-mes'}) }}" class="cta-button cta-button--dark cta-button--auto">{{ qi.textoDB('seleccionar') }}</a>
                </div>
            </div>
            <div class="planes__item">
                <div>
                    <p class="planes__item-title">11</p>
                    <p class="planes__item-subtitle medium">x mes</p>
                    <p class="planes__item-value medium">$ 190,000</p>
                    <a href="{{ path('checkout', {'package-type': '11-x-mes'}) }}" class="cta-button cta-button--dark cta-button--auto">{{ qi.textoDB('seleccionar') }}</a>
                </div>
            </div>
            <div class="planes__item">
                <div>
                    <p class="planes__item-title">20</p>
                    <p class="planes__item-subtitle medium">x mes</p>
                    <p class="planes__item-value medium">$ 300,000</p>
                    <a href="{{ path('checkout', {'package-type': '20-x-mes'}) }}" class="cta-button cta-button--dark cta-button--auto">{{ qi.textoDB('seleccionar') }}</a>
                </div>
            </div>
        </div>
        <p class="text-2 bottom-space">{{ qi.textoDB('planes_block_title') }}</p>
        <div class="grid grid--justify-center grid--align-start">
            <div class="grid__col-12 grid__col-xs-6  text-left">
                {{ qi.textoBigDB('planes_block_item_1') | raw  }}
            </div>
            <div class="grid__col-12 grid__col-xs-6  text-left">
                {{ qi.textoBigDB('planes_block_item_2') | raw  }}
            </div>
            <div class="grid__col-12 grid__col-xs-6  text-left">
                {{ qi.textoBigDB('planes_block_item_3') | raw  }}
            </div>
            <div class="grid__col-12 grid__col-xs-6 text-left">
                {{ qi.textoBigDB('planes_block_item_4') | raw  }}
            </div>
            <div class="grid__col-12 grid__col-xs-6 text-left">
                {{ qi.textoBigDB('planes_block_item_5') | raw  }}
            </div>
            <div class="grid__col-12 grid__col-xs-6 text-left">
                {{ qi.textoBigDB('planes_block_item_6') | raw  }}
            </div>
        </div>
    </main>
{% endblock %}
