{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/restaurants-list.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- CONTENT -->
    <main role="main" class="section-padding page-content restaurants-list">
        <div class="restaurants-list__tools">
            <input type="search" placeholder="buscar" class="js-shuffle-search"/>
            <a class="restaurants-list__map" href="{{ path('mapa') }}">MAPA</a>
            <div class="restaurants-list__filters">
                <button class="restaurants-list__filters-btn">FILTROS</button>
                <div class="restaurants-list__filters-container">
                    <div class="restaurants-list__filters-block">
                        <p class="restaurants-list__filters-title">FILTRAR</p>
                        <div class="filter-options"></div>
                    </div>
                    <div class="restaurants-list__filters-block">
                        <p class="restaurants-list__filters-title">ORGANIZAR</p>
                        <div class="sort-options">
                            <label class="cta-button-2 active">
                                <input type="radio" name="sort-value" value="dom"> Default
                            </label>
                            <label class="cta-button-2">
                                <input type="radio" name="sort-value" value="title"> Titulo
                            </label>
                            <label class="cta-button-2">
                                <input type="radio" name="sort-value" value="price"> Precio
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="restaurants-list__tools-submit fas fa-search"></button>
        </div>

        <div class="restaurants-list__item-container" id="grid">

            <div class="sizer-element"></div>
        </div>
        {% include('@Home/Default/restaurantModal.html.twig') %}
        {% include('@Home/Default/bookModal.html.twig') %}
    </main>
    <!-- /CONTENT -->

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/suffleApp.js') }}"></script>
    <script src="{{ asset('js/shuffleRestaurantTemplate.js') }}"></script>
    <script src="{{ asset('js/restaurantsApp.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR8WE33v8iMRlWQs6leCg1TqJQIQlNQm0&callback=initRestaurants"></script>
{% endblock %}