<div class="remodal bg-grey-3" data-remodal-id="restaurant-detail" role="dialog" aria-labelledby="restaurantDetailTitle" aria-describedby="restaurantDetailDescription" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
    <form class="restaurants__detail" id="form_pedido">
        <input type="hidden" name="web" value="1" >
        <p class="text-3 black bottom-space app-plate"></p>
        <p class="text-7 black bottom-space app-plate-desc"></p>
        <div class="grid grid--bleed grid--justify-space-around restaurants__detail-grid">
            <div class="grid__col-12 grid__col-sm-6">
                <div><img class="restaurants__detail-img app-img" src="" alt="Listapp restaurant" /></div>
            </div>
            <div class="grid__col-12 grid__col-sm-6 text-left">
                <div>
                    <p class="restaurants__detail-text app-name"></p>
                    <p class="restaurants__detail-text bottom-space-xxs app-address"></p>
                    <div class="rateyo bottom-space-xs app-star-rating"></div>

                    <p class="restaurants__detail-text app-date"></p>
                        <div class="bottom-space-xl">
                        <p class="restaurants__detail-text restaurants__detail-text--auto" id="cad_fecha">{{ qi.textoDB('pickup') }}</p>
                        <select class="restaurants__detail-select app-schedule" id="hora">
                            <option value="1:30">1:30</option>
                            <option value="1:45">1:45</option>
                            <option value="2:00">2:00</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="grid__col-12">
                <input type="hidden" name="fecha_temp" id="fecha_temp">
                <input type="hidden" name="fecha" id="fecha">
                <input type="hidden" name="plato" id="plato">
                <input type="hidden" name="uid"   id="uid">
                <button type="submit" class="cta-button bold app-book">{{ qi.textoDB('reservar') }}</button>
            </div>
        </div>
    </form>
</div>