{% extends 'lay_iridian.html.twig' %}
{% set ruta = app.request.get('_route') %}

{% set lc = app.request.locale() %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block content %}
    {{ app.session.set('headerColor', 'bg-white') }}

    <!-- CONTENT -->
    <main role="main">
        <div class="block-content section-padding">
            <h1 class="text-2 black text-center top-space bottom-space-xl">TÉRMINOS Y CONDICIONES</h1>

            <p class="text-5 color-pink text-center bottom-space-xs">Manifiesto esto que conozco y autorizo de forma libre y espontánea la política de tratamiento de datos ....</p>

            <div class="text-block">
                {{ qi.textoBigDB('terminos') | raw }}
            </div>

            <div class="top-space text-center">
                <a class="cta-button cta-button--auto cta-button--dark text-left" href="{{ path('homepage') }}">VOLVER</a>
            </div>
        </div>
    </main>

    <!-- /CONTENT -->

{% endblock %}


{% block javascripts %}
{% endblock %}