{% extends 'lay_iridian.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/contacto.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- CONTENT -->
    <main role="main"
        class="section-padding contact"
        style="background-image: url(/images/food-plate.jpg)">
        <div class="contact__color-bg"></div>
        <div class="page-content text-left contact__form-container">
            <!--{{ qi.textoDB('contacto-titulo') }}-->
            {% if gracias %}
                <p class="contact__thanks text-center">{{ qi.textoDB('gracias') }}</p>
            {% else %}
                {{ include('@Contacto/Default/formulario.html.twig', { 'form': form }) }}
            {% endif %}
        </div>
    </main>
    <!-- /CONTENT -->

{% endblock %}
