{{ form_start(form,{'attr': {'id':'formulario', 'class': 'contact__form' }} ) }}

    {{ form_widget(form.nombre, {'attr': {'placeholder':  qi.textoDB('form-placeholder-nombre') }}) }}

    {{ form_widget(form.email, {'attr': {'placeholder':qi.textoDB('form-placeholder-email') }}) }}

    {{ form_widget(form.telefono, {'attr': {'placeholder': qi.textoDB('form-placeholder-telefono') }}) }}

    {{ form_widget(form.asunto, {'attr': {'placeholder': qi.textoDB('form-placeholder-asunto') }}) }}

    {{ form_widget(form.mensaje, {'attr': {'placeholder': qi.textoDB('form-placeholder-textarea') }}) }}
{{ form_end(form) }}