{% extends 'lay_iridian.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}

<!-- CONTENT -->
<div class="subheader-block">
  <!-- CAROUSEL -->
  <div id="headerCarousel" class="carousel slide head-carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for item in qi.galeria('galeria-contacto') %}
      {% if loop.length > 1 %} 
        {% if loop.first %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
        {% else %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}"></li>      
        {% endif %}
      {% endif %}
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for item in qi.galeria('galeria-contacto') %} 
      {% if loop.first %}
      <div class="item active">              
      {% else %}
      <div class="item">        
      {% endif %} 
        <img src="{{ item.imagen }}" alt="Pollo Andino" class="carousel-img">
        <div class="carousel-caption">
          <h3>{{ item.resumen | raw }}</h3>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- / CAROUSEL -->
</div>
<section class="section-block bg-curve">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="bg-white shadow-block page-contact">
          <div class="row">
            <div class="col-sm-12">
              <h3 class="contact-title uppercase">{{ qi.textoDB('contacto-titulo') }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="contact-form-wrapper">
              
                {% if gracias %}
                  <h3 class="red text-center">{{ qi.textoDB('gracias') }}</h3>
                {% else %}

                    {{ form_start(form,{'attr': {'id':'formulario' }} ) }}
                    {#{ form(form, {'attr': {'novalidate': 'novalidate'}}) }#}
                    <p>
                        {{ form_widget(form.nombre, {'attr': {'placeholder':  qi.textoDB('form-placeholder-nombre') }}) }}
                    </p>
                    <p>
                        {{ form_widget(form.hoja) }}
                    </p>
                    <p>
                        {{ form_widget(form.telefono, {'attr': {'placeholder': qi.textoDB('form-placeholder-telefono') }}) }}
                    </p>
                    <p>
                        {{ form_widget(form.email, {'attr': {'placeholder':qi.textoDB('form-placeholder-email') }}) }}
                    </p>

                    <p>
                        {{ form_widget(form.mensaje, {'attr': {'cols':30,'rows':10,'class':"form-field"}}) }}
                    </p>
                    {{ form_end(form) }}
                {% endif %}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /CONTENT -->

{% endblock %}
