{% extends 'lay_iridian.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<main role="main" class="section-padding page-content register">
    {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
</main>
{% endblock content %}
