{% trans_default_domain 'FOSUserBundle' %}

<form class="register__form register__form--wider" action="{{ path('fos_user_resetting_send_email') }}" method="POST" id="form_reset">
    <h1 class="text-2 black top-space bottom-space text-center">RESTAURAR CONTRASEÑA</h1>

    <p class="text-5 text-center bottom-space-xs">Escribe el correo electrónico que usaste para abrir tu cuenta.</p>
    {% if invalid_username is defined %}
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
    {% endif %}
    <input type="text" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}"/>

    <div class="register__form-block text-center">
        <button class="register__form-submit cta-button cta-button--dark" type="submit">{{ 'resetting.request.submit'|trans }}</button>
    </div>
</form>
