{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% set lc = app.request.locale() %}

    <!-- CONTENT -->

    <main role="main" class="section-padding page-content blog">
        <div class="grid grid--bleed grid--justify-space-between grid--align-start">
            <div class="grid__col-12 grid__col-sm-9">
                <div class="blog__main">
                    <a href="/" class="blog__main-item"
                         style="background-image: url(/images/food-plate.jpg)">
                        <span href="/" class="blog__main-item-block">
                            <span class="cta-button-3">Leer<span class="fas fa-angle-right"></span></span>
                            <p class="blog__main-item-title">Título del blog más reciente</p>
                            <p class="blog__main-item-date">05/02/18</p>
                        </span>
                    </a>
                    <a href="/" class="blog__main-item"
                         style="background-image: url(/images/food-plate.jpg)">
                        <span class="blog__main-item-block">
                            <span class="cta-button-3">Leer<span class="fas fa-angle-right"></span></span>
                            <p class="blog__main-item-title">Título del blog más reciente</p>
                            <p class="blog__main-item-date">05/02/18</p>
                        </span>
                    </a>
                    <a href="/" class="blog__main-item"
                         style="background-image: url(/images/food-plate.jpg)">
                        <span class="blog__main-item-block">
                            <span class="cta-button-3">Leer<span class="fas fa-angle-right"></span></span>
                            <p class="blog__main-item-title">Título del blog más reciente</p>
                            <p class="blog__main-item-date">05/02/18</p>
                        </span>
                    </a>
                </div>
                <div class="blog__secondary">
                    <a class="blog__secondary-item">
                        <img class="blog__secondary-item-img" src="/images/food-plate.jpg" />
                        <p class="blog__secondary-item-date">05/02/18</p>
                        <p class="blog__secondary-item-title">Título del blog</p>
                    </a>
                    <a class="blog__secondary-item">
                        <img class="blog__secondary-item-img" src="/images/food-plate.jpg" />
                        <p class="blog__secondary-item-date">05/02/18</p>
                        <p class="blog__secondary-item-title">Título del blog</p>
                    </a>
                    <a class="blog__secondary-item">
                        <img class="blog__secondary-item-img" src="/images/food-plate.jpg" />
                        <p class="blog__secondary-item-date">05/02/18</p>
                        <p class="blog__secondary-item-title">Título del blog</p>
                    </a>
                    <a class="blog__secondary-item">
                        <img class="blog__secondary-item-img" src="/images/food-plate.jpg" />
                        <p class="blog__secondary-item-date">05/02/18</p>
                        <p class="blog__secondary-item-title">Título del blog</p>
                    </a>
                    <a class="blog__secondary-item">
                        <img class="blog__secondary-item-img" src="/images/food-plate.jpg" />
                        <p class="blog__secondary-item-date">05/02/18</p>
                        <p class="blog__secondary-item-title">Título del blog</p>
                    </a>
                    <a class="blog__secondary-item">
                        <img class="blog__secondary-item-img" src="/images/food-plate.jpg" />
                        <p class="blog__secondary-item-date">05/02/18</p>
                        <p class="blog__secondary-item-title">Título del blog</p>
                    </a>
                </div>
            </div>

            <div class="grid__col-12 grid__col-sm-2 blog__list scrollbar">
            {% for item in ultimos %}
                {% set ruta = path('post', {'id': item.id, 'name':qi.slugify(item.titulo)} ) %}
                <a class="blog__list-item" href="{{ ruta }}">
                    <span class="blog__list-item-title">{{ item.titulo }}</span>
                    <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                </a>
                <a class="blog__list-item" href="{{ ruta }}">
                    <span class="blog__list-item-title">{{ item.titulo }}</span>
                    <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                </a>
                <a class="blog__list-item" href="{{ ruta }}">
                    <span class="blog__list-item-title">{{ item.titulo }}</span>
                    <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                </a>
                <a class="blog__list-item" href="{{ ruta }}">
                    <span class="blog__list-item-title">{{ item.titulo }}</span>
                    <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                </a>
                <a class="blog__list-item" href="{{ ruta }}">
                    <span class="blog__list-item-title">{{ item.titulo }}</span>
                    <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                </a>
                <a class="blog__list-item" href="{{ ruta }}">
                    <span class="blog__list-item-title">{{ item.titulo }}</span>
                    <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                </a>
                <a class="blog__list-item" href="{{ ruta }}">
                    <span class="blog__list-item-title">{{ item.titulo }}</span>
                    <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                </a>
                <a class="blog__list-item" href="{{ ruta }}">
                    <span class="blog__list-item-title">{{ item.titulo }}</span>
                    <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                </a>

            {% endfor %}
            </div>
        </div>
    </main>

{% endblock %}


