{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block stylesheets %}
    {{ parent() }}
  <link href="{{ asset('css/restaurants-list.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% set lc = app.request.locale() %}

<!-- CONTENT -->

<main role="main" class="section-padding page-content restaurants-list">

</main>
<div class="subheader-block">
  <!-- CAROUSEL -->
  <div id="headerCarousel" class="carousel slide head-carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for item in qi.galeria('galeria-recetas') %}
      {% if loop.length > 1 %} 
        {% if loop.first %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
        {% else %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}"></li>      
        {% endif %}
      {% endif %}
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for item in qi.galeria('galeria-recetas') %} 
      {% if loop.first %}
      <div class="item active">              
      {% else %}
      <div class="item">        
      {% endif %} 
        <img src="{{ item.imagen }}" alt="Pollo Andino" class="carousel-img">
        <div class="carousel-caption">
          <h3>{{ item.resumen | raw }}</h3>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- / CAROUSEL -->
</div>
<div class="bg-curve content-section-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1">
        <aside class="side-block">
          <h3>{{ qi.textoDB('recetas-historial') }}</h3>
          <p class="select-box">
            <select name="" id="">
              <option value="">{{ qi.textoDB('enero') }}</option>
              <option value="">{{ qi.textoDB('febrero') }}</option>
              <option value="">{{ qi.textoDB('marzo') }}</option>
              <option value="">{{ qi.textoDB('abril') }}</option>
              <option value="">{{ qi.textoDB('mayo') }}</option>
              <option value="">{{ qi.textoDB('junio') }}</option>
              <option value="">{{ qi.textoDB('julio') }}</option>
              <option value="">{{ qi.textoDB('agosto') }}</option>
              <option value="">{{ qi.textoDB('septiembre') }}</option>
              <option value="">{{ qi.textoDB('octubre') }}</option>
              <option value="">{{ qi.textoDB('noviembre') }}</option>
              <option value="">{{ qi.textoDB('diciembre') }}</option>
            </select>
          </p>
          <p class="select-box">
            <select name="" id="">
              <option value="">2018</option>
            </select>
          </p>
          <h3>{{ qi.textoDB('recetas-destacadas') }}</h3>
          {% for item in todos|slice(0, 3) %}
              {% set ruta = path('post', {'id': item.id, 'name':qi.slugify(item.gen('titulo',lc))} ) %}
              <div class="recipe-block-sm bg-white shadow-block">
                <div class="row">
                  <div class="col-sm-6">
                    <h4>{{ item.gen('titulo',lc) }}</h4>
                  </div>
                  <div class="col-sm-6 text-right">
                    <span class="recipe-date">
                      {{ item.fecha | date('d/m/Y') }}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <p><img src="{{ path_blogs~'/'~item.image | imagine_filter('image_blog') }}" alt="{{ item.gen('titulo',lc) }}" class="img-responsive blog-sidebar-teaser-img"></p>
                    <p>{{ item.gen('contenido',lc)|striptags|slice(1,100) }}...</p>
                    <div class="text-right"><a href="{{ ruta }}" class="btn btn-sq btn-md btn-red">{{ qi.textoDB('ver-mas') }}</a></div>
                  </div>
                </div>
              </div>
          {% endfor %}
        </aside>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-8">
            <div class="side-block">
              <h3>{{ qi.textoDB('recetas-categorias') }}</h3>
            </div>
          </div>
          <div class="col-sm-4 text-right">
            <form action="">
            <i class="fa fa-search ico-search" aria-hidden="true"></i>
            <input type="search" name="search" value="{{ search }}" class="form-field search">
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <!-- Tag Filters -->
            <div class="row">
              {% for cat in categorias %}
                <div class="col-sm-3 col-xs-6">
                  <button class="btn btn-sq btn-tag btn-lg btn-block tag-btn cats" onclick="filtrarpost(this,'{{ cat.id }}')">{{ cat.nombre }}</button>
                </div>
              {% endfor %}

            </div> 
            <!-- / Tag Filters -->
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h1 class="text-left">{{ qi.textoDB('recetas-title') }}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 main-block">
            {% for item in ultimos %}
              {% set ruta = path('post', {'id': item.id, 'name':qi.slugify(item.titulo)} ) %}
              <div class="recipe-block-sm bg-white shadow-block posts post_{{ item.categoriaId }}" id="recipe1">
                <div class="row">
                  <div class="col-sm-9">
                    <h4>{{ item.titulo }}</h4>
                  </div>
                  <div class="col-sm-3 text-right">
                    <span class="recipe-date">
                      {{ item.fecha | date('d/m/Y') }}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4"><img src="{{ item.imagen | imagine_filter('image_blog') }}" alt="{{ item.titulo }}" class="img-responsive log-teser-img"></div>
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-12">
                        <p>{{ item.contenido|striptags|slice(1,100) }}...</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-8"><span class="related-recipe">{{ qi.textoDB('producto-relacionado') }}: {{ item.producto }}</span></div>
                      <div class="col-sm-4"><a href="{{ ruta }}" class="btn btn-red btn-sq btn-md btn-block">{{ qi.textoDB('ver-mas') }}</a></div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}


