{% extends 'lay_iridian.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
    {% set lc = app.request.locale() %}
    
<!-- CONTENT -->
<div class="subheader-block">
  <!-- CAROUSEL -->
  <div id="headerCarousel" class="carousel slide head-carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for item in qi.galeria('galeria-recetas') %}
      {% if loop.length > 1 %} 
        {% if loop.first %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}" class="active"></li>
        {% else %}
        <li data-target="#headerCarousel" data-slide-to="{{ loop.index0 }}"></li>      
        {% endif %}
      {% endif %}
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      {% for item in qi.galeria('galeria-recetas') %} 
      {% if loop.first %}
      <div class="item active">              
      {% else %}
      <div class="item">        
      {% endif %} 
        <img src="{{ item.imagen }}" alt="Pollo Andino" class="carousel-img">
        <div class="carousel-caption">
          <h3>{{ item.resumen | raw }}</h3>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- / CAROUSEL -->
</div>
<div class="bg-curve content-section-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10">
        <div class="content-block bg-white shadow-block">
          <div class="row">
            <div class="col-sm-9">
              <h1 class="no-transform">{{ post.gen('titulo',lc) }}</h1>
            </div>
            <div class="col-sm-3">
              <div class="post-date">
                {{ post.fecha | date('d/m/Y') }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 post-slider">
              <!-- Slider -->
              <!-- CAROUSEL -->
              <div id="postCarousel" class="carousel slide post-carousel" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                 
                  <li data-target="#postCarousel" data-slide-to="0" class="active"></li>

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                 
                  <div class="item active">
                    <img src="{{ path_blogs ~ "/" ~ post.image }}" alt="Los Angeles">
                  </div>

                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#postCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#postCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

              <!-- / CAROUSEL -->
              <!-- / Slider-->
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 post-content">
                {{ post.gen('contenido',lc) | raw }}
            </div>
          </div>
          <div class="row post-social-share">
            <div class="col-sm-6">{{ qi.textoDB('producto-relacionado') }}: {{ post.producto }}</div>
            <div class="col-sm-6 text-right share">Compartir</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /CONTENT -->

   <!--
    <div class="bannerGeneral" style="background-image: url('{{ qi.imagen('banner-blog') }}')"></div>
    <div class="container blog">
        <div class="row">
            <div class="descripcionPag">
                <a href="{{ path('the_blog') }}" class="volver"><i class="fa fa-reply" aria-hidden="true"></i></a>
                <h1 class="ttlGrandGris">{{ post.gen('titulo',lc) }}</h1>
                <hr class="ttlLine"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="blogBtn">
                    <a type="button" href="mailto:?subject={{ qi.textoDB('share_mail_subject') }}&body={{ qi.textoDB('shar_mail_content') }} {{ app.request.uri }}"><i class="fa fa-envelope" aria-hidden="true"></i><span>{#{{ qi.textoDB('enviar-correo') }}#}</span></a>
                    <a type="button" href="javascript:window.print();"><img src="/images/print.png"/><span>{#{{ qi.textoDB('imprimir') }}#}</span></a>
                </div>
                <div class="img1">
                    <img src="{{ path_blogs ~ "/" ~ post.image }}">
                </div>
                <div class="blogTxt">
                    {{ post.gen('contenido',lc) | raw }}
                </div>
            </div>
            <div class="col-sm-offset-1 col-md-4">
                <div id="share"></div>
                <div class="mas_noticias">
                    <h3>MÁS NOTICIAS</h3>
                    {% for item in todos %}
                        <a href="{{ path('post', {'id': item.id, 'name':qi.slugify(item.gen("titulo", lc))} ) }}">
                            {{ item.tituloEs }}
                            <span>{{ item.fecha | date('d/m/Y') }}</span>
                        </a>
                    {% endfor %}
                </div>
                {#<a class="btnGreen elemIzq btn" href="{{ path('the_blog') }}">
                    Más artículos
                </a>#}
                <br>

                {% if gracias %}
                    <h3 class="descLinea">{{ qi.textoDB('gracias-comentario') }}</h3>
                {% else %}
                    <h3 class="descLinea">{{ qi.textoDB('agregar-coment') }}</h3>
                    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {% endif %}
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <h3 class="descLinea">{{ qi.textoDB('comentarios') }}</h3>
                {% for item in comentarios %}
                    <div class="commentCont">
                        <h5>{{ item.nombre }}</h5>
                        <div class="comment">
                            <p>
                                {{ item.mensaje | nl2br }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4 col-sm-12">

            </div>
        </div>
    </div>

   {# <div class="txt">
        <h3>{{ post.fecha | date('F d, Y') }}</h3>

    </div>

   {% for item in imagenes %}
    <div class="item" style="background-image: url({{ path_blogs ~'/'~ item }})">
        <div class="cont_center_v">
            <div class="hover">
                <h2>SHARE</h2>
                {% for item in qi.galeria('social_blog') %}
                    <a href="#">
                        <img src="{{ item.imagen }}"/>
                    </a>
                {% endfor %}
                <div class="share"></div>
            </div>
        </div>
    </div>
    {% endfor %}

<div class="social_feed">
    <div class="control_blog">
        <a href="#">Next <i class="fa fa-arrow-right"></i></a>
    </div>
    <h2>SHARE</h2>
    {% for item in qi.galeria('social_blog') %}
        <a href="#">
            <img src="{{ item.imagen }}"/>
        </a>
    {% endfor %}
</div>#}

-->


{% endblock %}
{% block javascripts %}

<script>
    $(".share2").jsSocials({
        shares: [ "facebook","pinterest"]
    });

</script>
{% endblock %}

