{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% set lc = app.request.locale() %}
<!-- CONTENT -->
    <main role="main" class="section-padding page-content blog">
        <div class="grid grid--bleed grid--justify-space-between grid--align-start">
            <div class="grid__col-12 grid__col-sm-9">
                <div class="blog__post">
                    <p class="blog__post-date">{{ post.fecha | date('d/m/Y') }}</p>
                    <p class="blog__post-title">{{ post.gen('titulo',lc) }}</p>
                    <div class="blog__post-img"
                        style="background-image: url(/images/food-plate.jpg)">

                        <div class="share fas fa-share-alt"></div>
                    </div>
                    <div class="blog__post-content">{{ post.gen('contenido',lc) | raw }}</div>
                    <form class="blog__post-comment">
                        <textarea placeholder="Añade un comentario"></textarea>
                        <button class="cta-button-2 cta-button-2--black">Comentar</button>
                    </form>
                    <div class="blog__comments">
                        <div class="blog__comment text-left">
                            <p class="blog__comment-name">Nombre Usuario</p>
                            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                            <div class="blog__comment-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar finibus posuere. In congue ante ut nisi laoreet, a vulputate metus congue.</p></div>
                        </div>
                        <div class="blog__comment text-left">
                            <p class="blog__comment-name">Nombre Usuario</p>
                            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                            <div class="blog__comment-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar finibus posuere. In congue ante ut nisi laoreet, a vulputate metus congue.</p></div>
                        </div>
                        <div class="blog__comment text-left">
                            <p class="blog__comment-name">Nombre Usuario</p>
                            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                            <div class="blog__comment-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar finibus posuere. In congue ante ut nisi laoreet, a vulputate metus congue.</p></div>
                        </div>
                        <div class="blog__comment text-left">
                            <p class="blog__comment-name">Nombre Usuario</p>
                            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                            <div class="blog__comment-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar finibus posuere. In congue ante ut nisi laoreet, a vulputate metus congue.</p></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="grid__col-12 grid__col-sm-2 blog__list scrollbar">
                {% for item in ultimos %}
                    {% set ruta = path('post', {'id': item.id, 'name':qi.slugify(item.titulo)} ) %}
                    <a class="blog__list-item" href="{{ ruta }}">
                        <span class="blog__list-item-title">{{ item.titulo }}</span>
                        <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                    </a>
                    <a class="blog__list-item" href="{{ ruta }}">
                        <span class="blog__list-item-title">{{ item.titulo }}</span>
                        <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                    </a>
                    <a class="blog__list-item" href="{{ ruta }}">
                        <span class="blog__list-item-title">{{ item.titulo }}</span>
                        <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                    </a>
                    <a class="blog__list-item" href="{{ ruta }}">
                        <span class="blog__list-item-title">{{ item.titulo }}</span>
                        <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                    </a>
                    <a class="blog__list-item" href="{{ ruta }}">
                        <span class="blog__list-item-title">{{ item.titulo }}</span>
                        <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                    </a>
                    <a class="blog__list-item" href="{{ ruta }}">
                        <span class="blog__list-item-title">{{ item.titulo }}</span>
                        <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                    </a>
                    <a class="blog__list-item" href="{{ ruta }}">
                        <span class="blog__list-item-title">{{ item.titulo }}</span>
                        <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                    </a>
                    <a class="blog__list-item" href="{{ ruta }}">
                        <span class="blog__list-item-title">{{ item.titulo }}</span>
                        <span class="blog__list-item-date">{{ item.fecha | date('d/m/Y') }}</span>
                    </a>

                {% endfor %}
            </div>
        </div>
    </main>
<!-- /CONTENT -->
{% endblock %}

