{% extends 'lay_iridian.html.twig' %}

{% set lc = app.request.locale() %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% set lc = app.request.locale() %}
<!-- CONTENT -->
    <main role="main" class="section-padding page-content blog">
        <div class="grid grid--bleed grid--justify-space-between grid--align-start">
            <div class="grid__col-12 grid__col-sm-8">
                <div class="blog__post">
                    <p class="blog__post-date">{{ post.fecha | date('d/m/Y') }}</p>
                    <p class="blog__post-title">{{ post.gen('titulo',lc) }}</p>
                    <iframe class="blog__post-img" src="https://www.youtube.com/embed/saX9dRHPSlc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    <form class="blog__post-comment">
                        <textarea placeholder="Añade un comentario"></textarea>
                        <button class="cta-button-2 cta-button-2--black">Comentar</button>
                    </form>
                    <div class="blog__comments">
                        <div class="blog__comment text-left">
                            <p class="blog__comment-name">Nombre Usuario</p>
                            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                            <div class="blog__comment-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar finibus posuere. In congue ante ut nisi laoreet, a vulputate metus congue.</p></div>
                        </div>
                        <div class="blog__comment text-left">
                            <p class="blog__comment-name">Nombre Usuario</p>
                            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                            <div class="blog__comment-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar finibus posuere. In congue ante ut nisi laoreet, a vulputate metus congue.</p></div>
                        </div>
                        <div class="blog__comment text-left">
                            <p class="blog__comment-name">Nombre Usuario</p>
                            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                            <div class="blog__comment-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar finibus posuere. In congue ante ut nisi laoreet, a vulputate metus congue.</p></div>
                        </div>
                        <div class="blog__comment text-left">
                            <p class="blog__comment-name">Nombre Usuario</p>
                            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></div>
                            <div class="blog__comment-text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pulvinar finibus posuere. In congue ante ut nisi laoreet, a vulputate metus congue.</p></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="grid__col-12 grid__col-sm-3">
                <div class="blog__post-content">
                    <p>Vivamus tristique venenatis risus vitae congue. Curabitur sit amet vulputate elit. Sed in ultricies eros, varius vulputate libero. Etiam quis vehicula mauris. In sed vehicula magna, ac feugiat purus. Morbi ut erat ac tortor porta auctor et eu ante. Fusce placerat bibendum elit, ac suscipit mauris venenatis a. Quisque a leo ut eros imperdiet vehicula. Etiam suscipit diam a laoreet varius. Aliquam erat volutpat. Sed auctor leo at eros faucibus, in sodales dolor rutrum. Ut malesuada, orci in varius elementum, mauris odio hendrerit mauris, bibendum molestie est turpis sit amet quam. Nulla rutrum, nunc quis efficitur pharetra, diam orci euismod ligula, nec consectetur ante mauris vel ligula. Sed bibendum pulvinar eleifend. Donec consequat venenatis augue, quis commodo diam hendrerit sit amet.</p>
                    <div class="share fas fa-share-alt"></div>
                </div>
            </div>
        </div>
    </main>
<!-- /CONTENT -->
{% endblock %}

